.guide_api { position: relative; width: 690px; border: 1px solid #ddd; border-radius: 4px; background: #f7f7f7; }

.guide_api .head_area { position: relative; width: 100%; height: 50px; color: #29abe2; font-size: 1.6rem; font-weight: 500; text-align: center; line-height: 50px; border-bottom: 1px solid #ddd; }

.guide_api .head_area .btn_close { position: absolute; top: 15px; right: 15px; width: 21px; height: 21px; background: url("../images/btn_close.svg") no-repeat left top; background-size: 21px 21px; background-size: 20px; cursor: pointer; }

.guide_api .cont_area { max-height: 75vh; overflow-y: auto; }

.guide_api .notice_cont { padding: 30px; background: #ddd; }

.guide_api .guide_tit { position: relative; padding-left: 11px; margin-bottom: 11px; font-size: 1.6rem; font-weight: 400; }

.guide_api .guide_tit:before { content: ''; display: block; width: 6px; height: 6px; position: absolute; left: 0; top: 50%; transform: translateY(-50%); border-radius: 50%; background: #e07272; }

.guide_api .guide_note_tit { padding-bottom: 35px; padding-left: 11px; font-size: 1.4rem; line-height: 1.7; font-weight: 350; color: #4e4e4e; }

.guide_api .guide_note_txt { font-size: 1.4rem; font-weight: 350; color: #4e4e4e; }

.guide_api .guide_note_txt li { padding-bottom: 5px; padding-left: 20px; text-indent: -10px; line-height: 1.3; }

.guide_api .guide_note_txt li.sty2 { padding-bottom: 30px; }

.guide_api .guide_note_txt .dots_wrap { position: relative; padding-left: 198px; margin: 10px 0; }

.guide_api .guide_note_txt .dots_wrap:before { content: ''; display: block; width: 4px; height: 4px; position: relative; margin-bottom: 3px; border-radius: 50%; background: #ddd; }

.guide_api .guide_note_txt .dots_wrap .dot { display: block; width: 4px; height: 4px; margin-bottom: 3px; border-radius: 50%; background: #ddd; }

.guide_api .guide_note_txt .dots_wrap:after { content: ''; display: block; width: 4px; height: 4px; margin-bottom: 3px; border-radius: 50%; background: #ddd; }

.guide_api .guide_note_txt .star_note { padding: 0 10px; color: #e07272; }

.guide_api .guide_note_txt .gg_link { padding-left: 2px; vertical-align: top; color: #29abe2; }

.guide_api .guide_note_txt .gg_link:hover { text-decoration: underline; cursor: pointer; }

.guide_api .guide_note_txt img { display: block; width: 100%; max-width: 400px; margin: 8px 0 25px; }

.guide_api .guide_note_txt img.size2 { max-width: 278px; }

.guide_api .guide_note_txt img.sty2 { margin-bottom: 20px; }

.guide_api .guide_note_txt img.sty3 { margin-bottom: 0; }

.guide_api .guide_cont { padding: 30px 36px 0; }

.guide_api .bottom_area { overflow: hidden; padding: 15px 30px 30px; }

.guide_api .btn_close { display: inline-block; border-radius: 4px; background: #29abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.4rem; line-height: 1; cursor: pointer; display: block; float: right; width: 110px; height: 32px; line-height: 32px; }
/*# sourceMappingURL=guide_api.css.map */