@charset "UTF-8";
.wrap_pop, .wrap_alert { border-radius: 4px; background: #f7f7f7; }

.wrap_pop.edit_all_menu { width: 680px; position: absolute !important; top: 247px !important; left: 650px !important; }

.wrap_pop.edit_all_menu .wrap_pop_cont { display: flex; }

.wrap_pop.edit_one_menu { width: 510px; }

.wrap_pop.edit_one_menu .bottom_area { display: flex; }

.wrap_pop.edit_all_menu .cont_area .inp_box input, .wrap_pop.edit_one_menu .cont_area .inp_box input { width: 287px; padding: 3px 1px; border-bottom: 1px solid #ddd; box-sizing: border-box; vertical-align: top; }

.wrap_pop.edit_all_menu .bottom_area .btn_del, .wrap_pop.edit_one_menu .bottom_area .btn_del { margin-left: 17px; padding-left: 27px; font-size: 1.4rem; font-family: "본고딕"; background: url(../images/btn_del.svg) no-repeat left center; cursor: pointer; padding-bottom: 1px; }

.wrap_pop.edit_all_menu .bottom_area .notice, .wrap_pop.edit_one_menu .bottom_area .notice { margin-left: 24px; font-size: 13px; font-family: "본고딕"; color: #757575; }

.wrap_pop.edit_all_menu .bottom_area .btn_save, .wrap_pop.edit_one_menu .bottom_area .btn_save { opacity: 0; }

.wrap_pop.edit_all_menu .bottom_area .btn_apply, .wrap_pop.edit_one_menu .bottom_area .btn_apply { margin: 0 15px 0 auto; display: inline-block; border-radius: 4px; background: #29abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; padding: 8px 42px 8px 41px; }

.wrap_pop.com_set { width: 390px; }

.wrap_pop.com_set .inp_box { display: flex; }

.wrap_pop.com_set .inp_box label { width: 95px; }

.wrap_pop.com_set .inp_box .inp_area, .wrap_pop.com_set .inp_box .select_area { width: 169px; border-bottom: 1px solid #ddd; }

.wrap_pop.com_set .inp_box .inp_area input { width: 169px; padding: 3px 1px; }

.wrap_pop.com_set .inp_box .inp_area .preview_color { display: block; float: right; width: 15px; height: 15px; background-color: #fff; border-radius: 50%; }

.wrap_pop.com_set .inp_box .inp_area .preview_color.sty1 { border: 1px solid #ddd; }

.wrap_pop.com_set .inp_box .select_contain { display: inline-block; position: relative; height: 20px; background: url("../images/select_custom1.svg") right 1px bottom 2px/12px no-repeat; }

.wrap_pop.com_set .inp_box .select_contain label { display: block; font-size: 1.4rem; font-family: "본고딕"; color: #242424; top: 3px; left: 1px; text-align: left; }

.wrap_pop.com_set .inp_box .select_contain select { position: absolute; left: 0; top: 0; width: 100%; height: 20px; line-height: 20px; padding: 0 1px; opacity: 0; box-sizing: border-box; }

.wrap_pop.com_set .inp_box .box_style .radio_contain1 { width: 60px; height: 20px; display: inline-block; position: relative; padding-left: 28px; cursor: pointer; user-select: none; }

.wrap_pop.com_set .inp_box .box_style .radio_contain1 input { position: absolute; height: 0; width: 0; opacity: 0; cursor: pointer; }

.wrap_pop.com_set .inp_box .box_style .radio_contain1 .checkmark { position: absolute; top: 0; left: 0; height: 20px; width: 60px; border: 0; }

.wrap_pop.com_set .inp_box .box_style .radio_contain1.square { margin-right: 10px; border: 1px solid #29abe2; }

.wrap_pop.com_set .inp_box .box_style .radio_contain1.round { margin-right: 10px; border: 1px solid #29abe2; border-radius: 4px; }

.wrap_pop.com_set .inp_box .box_style .radio_contain1.half_circle { border: 1px solid #29abe2; border-radius: 10px; }

.wrap_pop.com_set .preview_btn_area { padding: 20px 0; margin-bottom: 28px; background-color: #ddd; font-size: 0; text-align: center; }

.wrap_pop.com_set .preview_btn_area .btn_click { display: inline-block; padding: 7px 24px 8px; font-size: 1.6rem; font-family: notoSans-M; color: #29abe2; line-height: 1; background: #fff; border: 1px solid #29abe2; }

.wrap_pop.com_set .bottom_area { text-align: right; }

.wrap_pop.com_set .bottom_area .btn_apply { display: inline-block; border-radius: 4px; background: #29abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; padding: 8px 42px 8px 41px; margin-right: 15px; }

.wrap_pop.set_header { width: 1340px; }

.wrap_pop.set_header .cont_area { height: 402px; padding: 30px; box-sizing: border-box; background-color: #ddd; }

.wrap_pop.set_header .cont_area .wrap_dsgn_list { overflow: auto; }

.wrap_pop.set_header .cont_area .wrap_dsgn_list .header_dsgn li { margin-bottom: 20px; }

.wrap_pop.set_header .cont_area .wrap_dsgn_list .header_dsgn li:last-child { margin-bottom: 0; }

.wrap_pop.set_header .cont_area .wrap_dsgn_list .header_dsgn li [class^='head'] { display: block; cursor: pointer; }

.wrap_pop.set_header .bottom_area { padding: 35px 15px 15px; text-align: right; }

.wrap_pop.set_header .bottom_area .complete { padding: 9px 40px; display: inline-block; border-radius: 4px; background: #29abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; letter-spacing: 0; }

.wrap_pop.pop_visual_setting { display: block; width: 1020px; }

.wrap_pop.pop_visual_setting .head_area .btn_add_slide { position: absolute; left: 0; top: 0; margin: 9px 0 0 15px; padding: 9px 10px; display: inline-block; border-radius: 4px; background: #e07272; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.4rem; line-height: 1; cursor: pointer; letter-spacing: 0; }

.wrap_pop.pop_visual_setting .head_area .btn_add_slide label { display: block; cursor: pointer; margin-bottom: 0; }

.wrap_pop.pop_visual_setting .head_area .btn_add_slide input { display: none; }

.wrap_pop.pop_visual_setting .pop_cont .edit_area, .wrap_pop.pop_visual_setting .pop_cont .note-editing-area { height: 402px; }

.wrap_pop.pop_visual_setting .pop_cont .note-editor { height: 445px; padding: 0 15px; border: 0; }

.wrap_pop.pop_visual_setting .pop_cont .note-editor .note-toolbar { padding: 0 0 5px; background: transparent; }

.wrap_pop.pop_visual_setting .pop_cont .note-editor .note-editable { height: 418px; background-size: cover; }

.wrap_pop.pop_visual_setting .pop_cont .note-editor .note-editable .txt_area { position: relative; z-index: 10; }

.wrap_pop.pop_visual_setting .pop_cont .note-editor .note-close2 { display: none; }

.wrap_pop.pop_visual_setting .pop_cont .add_slide_area { display: flex; flex-wrap: wrap; width: 1020px; height: 117px; padding: 12px 15px 15px; box-sizing: border-box; background: #ddd; }

.wrap_pop.pop_visual_setting .pop_cont .add_slide_area .wrap_txt { position: relative; width: 90px; height: 90px; background-position: center center !important; }

.wrap_pop.pop_visual_setting .pop_cont .add_slide_area .txt_area { display: none; }

.wrap_pop.pop_visual_setting .pop_cont .add_slide_area .swiper-slide { width: auto; margin-right: 10px; }

.wrap_pop.pop_visual_setting .pop_cont .add_slide_area .swiper-slide:last-child { margin-right: 0; }

.wrap_pop.pop_visual_setting .pop_cont .add_slide_area .btn_del { position: absolute; z-index: 10; top: 5px; right: 5px; width: 21px; height: 21px; cursor: pointer; background: url(../images/btn_del_mainvisual.png) no-repeat left top; }

.wrap_pop.pop_visual_setting .pop_bottom { position: relative; }

.wrap_pop.pop_visual_setting .pop_bottom .wrap_left_inner { display: flex; align-items: center; padding: 0 15px; }

.wrap_pop.pop_visual_setting .pop_bottom .setting_mask { display: inline-block; position: relative; padding-left: 28px; cursor: pointer; user-select: none; width: auto; padding-left: 28px; margin-left: 70px; border-radius: 50%; font-size: 1.4rem; text-align: left; }

.wrap_pop.pop_visual_setting .pop_bottom .setting_mask input { position: absolute; height: 0; width: 0; opacity: 0; cursor: pointer; }

.wrap_pop.pop_visual_setting .pop_bottom .setting_mask .checkmark { position: absolute; top: 0; left: 0; height: 21px; width: 21px; border: 0; }

.wrap_pop.pop_visual_setting .pop_bottom .setting_mask input ~ .checkmark { background: url(../images/check_custom1_off.svg) no-repeat center/22px; top: 3px; }

.wrap_pop.pop_visual_setting .pop_bottom .setting_mask input:checked ~ .checkmark { background: url(../images/check_custom1_on.svg) no-repeat center/18px; }

.wrap_pop.pop_visual_setting .pop_bottom .setting_mask .tip_area { display: inline-block; position: relative; z-index: 2; margin-left: 6px; vertical-align: 1px; vertical-align: 1px; }

.wrap_pop.pop_visual_setting .pop_bottom .setting_mask .tip_area .mark_tooltip { display: inline-block; position: relative; width: 21px; height: 21px; border-radius: 50%; font-size: 1.4rem; font-family: "본고딕"; text-align: center; line-height: 21px; vertical-align: top; background-color: #fff; border: 1px solid #ddd; }

.wrap_pop.pop_visual_setting .pop_bottom .setting_mask .tip_area .mark_tooltip:hover { cursor: pointer; }

.wrap_pop.pop_visual_setting .pop_bottom .setting_mask .tip_area .mark_tooltip:hover ~ .tooltip_note { display: block; }

.wrap_pop.pop_visual_setting .pop_bottom .setting_mask .tip_area .tooltip_note { display: none; position: absolute; left: 50%; margin-left: -165px; top: -157px; padding: 30px 27px 0; width: 330px; height: 157px; background: url("../images/bg_tooltip1.svg") no-repeat left top; background-size: 330px 157px; box-sizing: border-box; }

.wrap_pop.pop_visual_setting .pop_bottom .setting_mask .tip_area .tooltip_note p { font-size: 1.4rem; font-family: "본고딕"; line-height: 1.4; letter-spacing: -0.8px; padding-bottom: 15px; }

.wrap_pop.pop_visual_setting .pop_bottom .setting_mask .tip_area .tooltip_note p:last-child { padding-bottom: 0; }

.wrap_pop.pop_visual_setting .pop_bottom .setting_mask .tip_area .tooltip_note p { color: #242424; }

.wrap_pop.pop_visual_setting .pop_bottom .setting_mask .tip_area .tooltip_note p:first-child { padding-bottom: 10px; }

.wrap_pop.pop_visual_setting .pop_bottom .chk_newwdw { display: inline-block; position: relative; padding-left: 28px; cursor: pointer; user-select: none; margin-left: 70px; font-size: 1.4rem; }

.wrap_pop.pop_visual_setting .pop_bottom .chk_newwdw input { position: absolute; height: 0; width: 0; opacity: 0; cursor: pointer; }

.wrap_pop.pop_visual_setting .pop_bottom .chk_newwdw .checkmark { position: absolute; top: 0; left: 0; height: 21px; width: 21px; border: 0; }

.wrap_pop.pop_visual_setting .pop_bottom .chk_newwdw input ~ .checkmark { background: url(../images/check_custom1_off.svg) no-repeat center/22px; }

.wrap_pop.pop_visual_setting .pop_bottom .chk_newwdw input:checked ~ .checkmark { background: url(../images/check_custom1_on.svg) no-repeat center/18px; }

.wrap_pop.pop_visual_setting .pop_bottom .link_area { margin-left: 70px; }

.wrap_pop.pop_visual_setting .pop_bottom .link_area label { font-size: 1.4rem; }

.wrap_pop.pop_visual_setting .pop_bottom .link_area .inp_box { width: 200px; margin-left: 20px; padding: 4px 1px; border-bottom: 1px solid #ddd; background: url("../images/select_custom1.svg") right 1px bottom 4px/12px no-repeat; }

.wrap_pop.pop_visual_setting .pop_bottom .link_area .inp_box input { width: 90%; font-size: 1.4rem; font-family: "본고딕"; color: #757575; }

.wrap_pop.pop_visual_setting .pop_bottom .wrap_right_inner { display: flex; padding: 15px; }

.wrap_pop.pop_visual_setting .pop_bottom .wrap_right_inner .notice_txt { font-family: "본고딕"; font-size: 1.4rem; color: #757575; }

.wrap_pop.pop_visual_setting .pop_bottom .wrap_right_inner .btn_pop_mv { margin-left: auto; display: inline-block; border-radius: 4px; background: #29abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; padding: 8px 40px; letter-spacing: 1px; }

.wrap_pop.pop_gallery { width: 1020px; }

.wrap_pop.pop_gallery .head_area .btn_add_imgs { height: 50px; position: absolute; left: 15px; top: 0; font-family: notoSans-M; font-size: 1.4rem; font-weight: normal; line-height: 50px; color: #242424; cursor: pointer; }

.wrap_pop.pop_gallery .head_area .btn_add_imgs label { display: block; cursor: pointer; margin-bottom: 0; }

.wrap_pop.pop_gallery .head_area .btn_add_imgs input { display: none; }

.wrap_pop.pop_gallery .head_area .btn_add_imgs .icon_plus { display: inline-block; margin-right: 5px; width: 21px; height: 21px; background: url("../images/btn_add.svg") no-repeat left top; background-size: 21px 21px; }

.wrap_pop.pop_gallery .pop_cont .add_imgs_area { display: flex; overflow-y: auto; flex-wrap: wrap; align-content: flex-start; padding: 12px 15px 15px; box-sizing: border-box; background: #ddd; height: 332px; }

.wrap_pop.pop_gallery .pop_cont .add_imgs_area .grid-square { position: relative; margin-right: 20px; margin-bottom: 20px; }

.wrap_pop.pop_gallery .pop_cont .add_imgs_area .grid-square video { width: 90px; height: 90px; }

.wrap_pop.pop_gallery .pop_cont .add_imgs_area .grid-square .wrap_img_txt { position: relative; width: 90px; height: 90px; background-position: center center !important; }

.wrap_pop.pop_gallery .pop_cont .add_imgs_area .grid-square .wrap_img_txt img { width: 100%; height: 100%; }

.wrap_pop.pop_gallery .pop_cont .add_imgs_area .grid-square .wrap_img_txt .txt_area { display: none; }

.wrap_pop.pop_gallery .pop_cont .add_imgs_area .grid-square .btn_del { display: block; width: 21px; height: 21px; position: absolute; top: 5px; right: 5px; background: url(../images/btn_del_mainvisual.png) no-repeat left top; z-index: 10; cursor: pointer; }

.wrap_pop.pop_gallery .pop_bottom .wrap_opt { display: flex; flex-wrap: wrap; padding-top: 45px; }

.wrap_pop.pop_gallery .pop_bottom .wrap_opt .opt_tit_txt { padding-left: 68px; padding-right: 29px; font-family: "본고딕"; font-size: 1.4rem; color: #242424; }

.wrap_pop.pop_gallery .pop_bottom .wrap_opt .wrap_opt_tit { display: flex; margin-right: 8px; }

.wrap_pop.pop_gallery .pop_bottom .wrap_opt .wrap_opt_tit .wrap_inp_box .opt_tit { display: block; width: 287px; padding: 3px 0; border-bottom: 1px solid #ddd; font-size: 1.4rem; }

.wrap_pop.pop_gallery .pop_bottom .wrap_opt .wrap_opt_tit .wrap_inp_box .chk_lightbox { display: inline-block; position: relative; padding-left: 28px; cursor: pointer; user-select: none; display: block; margin-top: 11px; padding-left: 28px; border-radius: 50%; font-size: 1.4rem; }

.wrap_pop.pop_gallery .pop_bottom .wrap_opt .wrap_opt_tit .wrap_inp_box .chk_lightbox input { position: absolute; height: 0; width: 0; opacity: 0; cursor: pointer; }

.wrap_pop.pop_gallery .pop_bottom .wrap_opt .wrap_opt_tit .wrap_inp_box .chk_lightbox .checkmark { position: absolute; top: 0; left: 0; height: 21px; width: 21px; border: 0; }

.wrap_pop.pop_gallery .pop_bottom .wrap_opt .wrap_opt_tit .wrap_inp_box .chk_lightbox input ~ .checkmark { background: url(../images/check_custom1_off.svg) no-repeat center/23px; }

.wrap_pop.pop_gallery .pop_bottom .wrap_opt .wrap_opt_tit .wrap_inp_box .chk_lightbox input:checked ~ .checkmark { background: url(../images/check_custom1_on.svg) no-repeat center/18px; }

.wrap_pop.pop_gallery .pop_bottom .wrap_opt .wrap_opt_tit .wrap_inp_box .chk_lightbox .tip_area { display: inline-block; position: relative; z-index: 2; margin-left: 6px; vertical-align: 1px; }

.wrap_pop.pop_gallery .pop_bottom .wrap_opt .wrap_opt_tit .wrap_inp_box .chk_lightbox .tip_area .mark_tooltip { display: inline-block; position: relative; width: 21px; height: 21px; border-radius: 50%; font-size: 1.4rem; font-family: "본고딕"; text-align: center; line-height: 21px; vertical-align: top; background-color: #fff; border: 1px solid #ddd; }

.wrap_pop.pop_gallery .pop_bottom .wrap_opt .wrap_opt_tit .wrap_inp_box .chk_lightbox .tip_area .mark_tooltip:hover { cursor: pointer; }

.wrap_pop.pop_gallery .pop_bottom .wrap_opt .wrap_opt_tit .wrap_inp_box .chk_lightbox .tip_area .mark_tooltip:hover ~ .tooltip_note { display: block; }

.wrap_pop.pop_gallery .pop_bottom .wrap_opt .wrap_opt_tit .wrap_inp_box .chk_lightbox .tip_area .tooltip_note { display: none; position: absolute; left: 50%; margin-left: -165px; top: -167px; padding: 30px 27px 0; width: 330px; height: 167px; background: url("../images/bg_tooltip1.svg") no-repeat left top; background-size: 330px 167px; box-sizing: border-box; }

.wrap_pop.pop_gallery .pop_bottom .wrap_opt .wrap_opt_tit .wrap_inp_box .chk_lightbox .tip_area .tooltip_note p { font-size: 1.4rem; font-family: "본고딕"; line-height: 1.4; letter-spacing: -0.8px; padding-bottom: 15px; }

.wrap_pop.pop_gallery .pop_bottom .wrap_opt .wrap_opt_tit .wrap_inp_box .chk_lightbox .tip_area .tooltip_note p:last-child { padding-bottom: 0; }

.wrap_pop.pop_gallery .pop_bottom .wrap_opt_memo .opt_memo { width: 467px; padding: 3px 0; border-bottom: 1px solid #ddd; font-size: 1.4rem; }

.wrap_pop.pop_gallery .pop_bottom .wrap_opt_url { display: flex; padding-top: 38px; }

.wrap_pop.pop_gallery .pop_bottom .wrap_opt_url .inp_container { position: relative; }

.wrap_pop.pop_gallery .pop_bottom .wrap_opt_url .inp_container .inp_area { position: relative; width: 287px; background: url("../images/select_custom1.svg") right 1px bottom 4px/12px no-repeat; }

.wrap_pop.pop_gallery .pop_bottom .wrap_opt_url .inp_container .inp_area .inp_btn_url { width: 287px; padding: 3px 0; border-bottom: 1px solid #ddd; font-size: 1.4rem; }

.wrap_pop.pop_gallery .pop_bottom .wrap_opt_url .inp_container .home_nav_url { position: absolute; top: 30px; left: 95px; width: 287px; padding: 0 10px; box-sizing: border-box; border: 1px solid #ddd; background: #fff; }

.wrap_pop.pop_gallery .pop_bottom .wrap_opt_url .inp_container .check_area { margin-top: 11px; display: inline-block; position: relative; padding-left: 28px; cursor: pointer; user-select: none; padding-left: 28px; border-radius: 50%; font-size: 1.4rem; }

.wrap_pop.pop_gallery .pop_bottom .wrap_opt_url .inp_container .check_area input { position: absolute; height: 0; width: 0; opacity: 0; cursor: pointer; }

.wrap_pop.pop_gallery .pop_bottom .wrap_opt_url .inp_container .check_area .checkmark { position: absolute; top: 0; left: 0; height: 21px; width: 21px; border: 0; }

.wrap_pop.pop_gallery .pop_bottom .wrap_opt_url .inp_container .check_area input ~ .checkmark { background: url(../images/check_custom1_off.svg) no-repeat center/23px; }

.wrap_pop.pop_gallery .pop_bottom .wrap_opt_url .inp_container .check_area input:checked ~ .checkmark { background: url(../images/check_custom1_on.svg) no-repeat center/18px; }

.wrap_pop.pop_gallery .pop_bottom .btn_box { padding-top: 30px; padding-right: 15px; padding-bottom: 15px; text-align: right; }

.wrap_pop.pop_gallery .pop_bottom .btn_box .btn_pop_mv { padding: 9px 40px; display: inline-block; border-radius: 4px; background: #29abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; letter-spacing: 0; }

.wrap_pop.pop_img_edit { width: 690PX; border: 1px solid #ddd; border-radius: 4px; }

.wrap_pop.pop_img_edit .wrap_pop_cont { position: relative; }

.wrap_pop.pop_img_edit .wrap_pop_cont .cr-boundary { height: 426px; }

.wrap_pop.pop_img_edit .wrap_pop_cont .cr-boundary .cr-viewport { width: 396px; height: 380px; border: 1px solid #29abe2; }

.wrap_pop.pop_img_edit .wrap_pop_cont .cr-slider-wrap { position: relative; width: auto; margin: 15px 174px 0; }

.wrap_pop.pop_img_edit .wrap_pop_cont .cr-slider-wrap .cr-slider { padding: 0; }

.wrap_pop.pop_img_edit .wrap_pop_cont .cr-slider-wrap input[type=range]::-webkit-slider-runnable-track { width: 100%; height: 2px; margin: 10px 0; cursor: pointer; box-shadow: 0 1px 0 0 #ffffff, inset 0 1px 0 0 rgba(0, 0, 0, 0.41); }

.wrap_pop.pop_img_edit .wrap_pop_cont .cr-slider-wrap input[type=range]::-webkit-slider-thumb { border-radius: 50%; width: 36px; height: 36px; background: url("../images/range_slider_thumb.svg") no-repeat left top; background-size: 36px 36px; background-position: top center; cursor: pointer; -webkit-appearance: none; margin-top: -17px; }

.wrap_pop.pop_img_edit .wrap_pop_cont .cr-slider-wrap input[type=range]::-moz-range-track { width: 100%; height: 2px; margin: 10px 0; cursor: pointer; box-shadow: 0 1px 0 0 #ffffff, inset 0 1px 0 0 rgba(0, 0, 0, 0.41); }

.wrap_pop.pop_img_edit .wrap_pop_cont .cr-slider-wrap input[type=range]::-moz-range-thumb { border-radius: 50%; width: 36px; height: 36px; background: url("../images/range_slider_thumb.svg") no-repeat left top; background-size: 36px 36px; background-position: top center; cursor: pointer; -webkit-appearance: none; margin-top: -17px; }

.wrap_pop.pop_img_edit .wrap_pop_cont .cr-slider-wrap input[type=range]:focus { outline: none; }

.wrap_pop.pop_img_edit .wrap_pop_cont .cr-slider-wrap input[type=range]::-ms-track { width: 100%; height: 2px; margin: 10px 0; cursor: pointer; box-shadow: 0 1px 0 0 #ffffff, inset 0 1px 0 0 rgba(0, 0, 0, 0.41); }

.wrap_pop.pop_img_edit .wrap_pop_cont .cr-slider-wrap input[type=range]::-ms-thumb { border-radius: 50%; width: 36px; height: 36px; background: url("../images/range_slider_thumb.svg") no-repeat left top; background-size: 36px 36px; background-position: top center; cursor: pointer; -webkit-appearance: none; margin-top: -17px; }

.wrap_pop.pop_img_edit .wrap_pop_cont .cr-slider-wrap:before { display: block; content: ''; position: absolute; left: -27px; top: 10px; width: 18px; height: 2px; background: url("../images/range_slider_minus.png") no-repeat left top; background-size: 18px 2px; }

.wrap_pop.pop_img_edit .wrap_pop_cont .cr-slider-wrap:after { display: block; content: ''; position: absolute; right: -27px; top: 2px; width: 18px; height: 18px; background: url("../images/range_slider_plus.png") no-repeat left top; background-size: 18px 18px; }

.wrap_pop.pop_img_edit .wrap_pop_cont .upload_contain { position: absolute; right: 15px; top: 23px; z-index: 2; padding: 9px 15px; display: inline-block; border-radius: 4px; background: #e07272; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; font-size: 1.4rem; }

.wrap_pop.pop_img_edit .wrap_pop_cont .upload_contain label { display: block; cursor: pointer; margin-bottom: 0; }

.wrap_pop.pop_img_edit .wrap_pop_cont .upload_contain input { display: none; }

.wrap_pop.pop_img_edit .wrap_pop_cont .upload_contain label { color: #fff; }

.wrap_pop.pop_img_edit .bottom_area { display: block; padding: 18px 15px 15px 69px; }

.wrap_pop.pop_img_edit .bottom_area label:first-of-type { margin-right: 29px; font-size: 1.4rem; font-family: "본고딕"; }

.wrap_pop.pop_img_edit .bottom_area .inp_box { width: 287px; padding: 4px 1px; border-bottom: 1px solid #ddd; background: url("../images/select_custom1.svg") right 1px bottom 4px/12px no-repeat; }

.wrap_pop.pop_img_edit .bottom_area .inp_box input { font-size: 1.4rem; font-family: "본고딕"; color: #757575; }

.wrap_pop.pop_img_edit .bottom_area .check_area { margin-top: 10px; }

.wrap_pop.pop_img_edit .bottom_area .check_area .check_contain { display: inline-block; position: relative; padding-left: 28px; cursor: pointer; user-select: none; width: auto; padding-left: 28px; border-radius: 50%; font-size: 14px; text-align: left; margin-left: 0; }

.wrap_pop.pop_img_edit .bottom_area .check_area .check_contain.sty1 { margin-left: 52px; margin-right: 58px; }

.wrap_pop.pop_img_edit .bottom_area .check_area .check_contain .tip_area { display: inline-block; position: relative; z-index: 2; margin-left: 6px; vertical-align: 1px; vertical-align: 1px; }

.wrap_pop.pop_img_edit .bottom_area .check_area .check_contain .tip_area .mark_tooltip { display: inline-block; position: relative; width: 21px; height: 21px; border-radius: 50%; font-size: 1.4rem; font-family: "본고딕"; text-align: center; line-height: 21px; vertical-align: top; background-color: #fff; border: 1px solid #ddd; }

.wrap_pop.pop_img_edit .bottom_area .check_area .check_contain .tip_area .mark_tooltip:hover { cursor: pointer; }

.wrap_pop.pop_img_edit .bottom_area .check_area .check_contain .tip_area .mark_tooltip:hover ~ .tooltip_note { display: block; }

.wrap_pop.pop_img_edit .bottom_area .check_area .check_contain .tip_area .tooltip_note { display: none; position: absolute; left: 50%; margin-left: -165px; top: -167px; padding: 30px 27px 0; width: 330px; height: 167px; background: url("../images/bg_tooltip1.svg") no-repeat left top; background-size: 330px 167px; box-sizing: border-box; }

.wrap_pop.pop_img_edit .bottom_area .check_area .check_contain .tip_area .tooltip_note p { font-size: 1.4rem; font-family: "본고딕"; line-height: 1.4; letter-spacing: -0.8px; padding-bottom: 15px; }

.wrap_pop.pop_img_edit .bottom_area .check_area .check_contain .tip_area .tooltip_note p:last-child { padding-bottom: 0; }

.wrap_pop.pop_img_edit .bottom_area .check_area .check_contain input { position: absolute; height: 0; width: 0; opacity: 0; cursor: pointer; }

.wrap_pop.pop_img_edit .bottom_area .check_area .check_contain .checkmark { position: absolute; top: 0; left: 0; height: 21px; width: 21px; border: 0; }

.wrap_pop.pop_img_edit .bottom_area .check_area .check_contain input ~ .checkmark { background: url(../images/check_custom1_off.svg) no-repeat center/22px; }

.wrap_pop.pop_img_edit .bottom_area .check_area .check_contain input:checked ~ .checkmark { background: url(../images/check_custom1_on.svg) no-repeat center/18px; }

.wrap_pop.pop_img_edit .btn_box { margin-top: 13px; text-align: right; }

.wrap_pop.pop_img_edit .btn_box .complete { letter-spacing: 0; padding: 8px 40px; display: inline-block; border-radius: 4px; background: #29abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; }

.wrap_pop.pop_img_edit.sty2 .bottom_area { padding: 14px 15px 15px 14px; }

.wrap_pop.pop_img_edit.sty2 .bottom_area .notice_txt { font-size: 1.3rem; font-family: "본고딕"; letter-spacing: -0.8px; color: #757575; }

.wrap_pop.pop_img_edit.sty2 .bottom_area .wrap_effect_opt { display: flex; padding-top: 23px; padding-left: 68px; }

.wrap_pop.pop_img_edit.sty2 .bottom_area .wrap_effect_opt .opt_tit { font-size: 1.4rem; font-family: "본고딕"; color: #242424; }

.wrap_pop.pop_img_edit.sty2 .bottom_area .wrap_effect_opt .effect_box { display: flex; }

.wrap_pop.pop_img_edit.sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain { display: inline-block; position: relative; padding-left: 28px; cursor: pointer; user-select: none; padding-left: 28px; border-radius: 50%; font-size: 1.4rem; }

.wrap_pop.pop_img_edit.sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain input { position: absolute; height: 0; width: 0; opacity: 0; cursor: pointer; }

.wrap_pop.pop_img_edit.sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain .checkmark { position: absolute; top: 0; left: 0; height: 21px; width: 21px; border: 0; }

.wrap_pop.pop_img_edit.sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain input ~ .checkmark { background: url(../images/check_custom1_off.svg) no-repeat center/23px; }

.wrap_pop.pop_img_edit.sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain input:checked ~ .checkmark { background: url(../images/check_custom1_on.svg) no-repeat center/18px; }

.wrap_pop.pop_img_edit.sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_fitimg .tip_area { display: inline-block; position: relative; z-index: 2; margin-left: 6px; vertical-align: 1px; }

.wrap_pop.pop_img_edit.sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_fitimg .tip_area .mark_tooltip { display: inline-block; position: relative; width: 21px; height: 21px; border-radius: 50%; font-size: 1.4rem; font-family: "본고딕"; text-align: center; line-height: 21px; vertical-align: top; background-color: #fff; border: 1px solid #ddd; }

.wrap_pop.pop_img_edit.sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_fitimg .tip_area .mark_tooltip:hover { cursor: pointer; }

.wrap_pop.pop_img_edit.sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_fitimg .tip_area .mark_tooltip:hover ~ .tooltip_note { display: block; }

.wrap_pop.pop_img_edit.sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_fitimg .tip_area .tooltip_note { display: none; position: absolute; left: 50%; margin-left: -165px; top: -107px; padding: 30px 27px 0; width: 330px; height: 107px; background: url("../images/bg_tooltip1.svg") no-repeat left top; background-size: 330px 107px; box-sizing: border-box; }

.wrap_pop.pop_img_edit.sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_fitimg .tip_area .tooltip_note p { font-size: 1.4rem; font-family: "본고딕"; line-height: 1.4; letter-spacing: -0.8px; padding-bottom: 15px; }

.wrap_pop.pop_img_edit.sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_fitimg .tip_area .tooltip_note p:last-child { padding-bottom: 0; }

.wrap_pop.pop_img_edit.sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_lightbox { margin-left: 29px; margin-right: 55px; }

.wrap_pop.pop_img_edit.sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_lightbox .tip_area { display: inline-block; position: relative; z-index: 2; margin-left: 6px; vertical-align: 1px; }

.wrap_pop.pop_img_edit.sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_lightbox .tip_area .mark_tooltip { display: inline-block; position: relative; width: 21px; height: 21px; border-radius: 50%; font-size: 1.4rem; font-family: "본고딕"; text-align: center; line-height: 21px; vertical-align: top; background-color: #fff; border: 1px solid #ddd; }

.wrap_pop.pop_img_edit.sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_lightbox .tip_area .mark_tooltip:hover { cursor: pointer; }

.wrap_pop.pop_img_edit.sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_lightbox .tip_area .mark_tooltip:hover ~ .tooltip_note { display: block; }

.wrap_pop.pop_img_edit.sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_lightbox .tip_area .tooltip_note { display: none; position: absolute; left: 50%; margin-left: -165px; top: -167px; padding: 30px 27px 0; width: 330px; height: 167px; background: url("../images/bg_tooltip1.svg") no-repeat left top; background-size: 330px 167px; box-sizing: border-box; }

.wrap_pop.pop_img_edit.sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_lightbox .tip_area .tooltip_note p { font-size: 1.4rem; font-family: "본고딕"; line-height: 1.4; letter-spacing: -0.8px; padding-bottom: 15px; }

.wrap_pop.pop_img_edit.sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_lightbox .tip_area .tooltip_note p:last-child { padding-bottom: 0; }

.wrap_pop.pop_img_edit.sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_lightbox .tip_area .tooltip_note p { padding-top: 10px; }

.wrap_pop.pop_img_edit.sty2 .bottom_area .wrap_link { margin-top: 32px; padding-left: 68px; }

.wrap_pop.pop_img_edit.sty2 .bottom_area .wrap_link .link_area { display: flex; }

.wrap_pop.pop_img_edit.sty2 .bottom_area .wrap_link .link_area input { width: 90%; }

.wrap_pop.pop_section_bg .wrap_position, .wrap_pop.pop_visual_setting .wrap_position { position: relative; }

.wrap_pop.pop_section_bg .wrap_position .box_position_ui, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui { align-items: center; }

.wrap_pop.pop_section_bg .wrap_position .box_position_ui .txt, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .txt { margin-left: 18px; font-family: "본고딕"; font-size: 1.4rem; line-height: 1; }

.wrap_pop.pop_section_bg .wrap_position .box_position_ui .position_ui, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .position_ui { width: 32px; cursor: pointer; }

.wrap_pop.pop_section_bg .wrap_position .box_position_ui .position_ui ul, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .position_ui ul { margin: 0; padding: 0; }

.wrap_pop.pop_section_bg .wrap_position .box_position_ui .position_ui ul:after, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .position_ui ul:after { content: ''; display: block; clear: both; }

.wrap_pop.pop_section_bg .wrap_position .box_position_ui .position_ui ul li, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .position_ui ul li { list-style: none; float: left; border: 1px solid #ddd; width: 9px; height: 9px; margin-left: -1px; margin-top: -1px; margin-bottom: 3px; }

.wrap_pop.pop_section_bg .wrap_position .box_position_ui .position_ui ul li.active, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .position_ui ul li.active { background: #00B8FF; border-color: #00B8FF; }

.wrap_pop.pop_section_bg .wrap_position .box_position_ui .position_ui ul li._tl, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .position_ui ul li._tl { border-radius: 2px 0 0 0; }

.wrap_pop.pop_section_bg .wrap_position .box_position_ui .position_ui ul li._tc, .wrap_pop.pop_section_bg .wrap_position .box_position_ui .position_ui ul li._mc, .wrap_pop.pop_section_bg .wrap_position .box_position_ui .position_ui ul li._bc, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .position_ui ul li._tc, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .position_ui ul li._mc, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .position_ui ul li._bc { margin-right: 2px; margin-left: 2px; }

.wrap_pop.pop_section_bg .wrap_position .box_position_ui .position_ui ul li._tl, .wrap_pop.pop_section_bg .wrap_position .box_position_ui .position_ui ul li._ml, .wrap_pop.pop_section_bg .wrap_position .box_position_ui .position_ui ul li._bl, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .position_ui ul li._tl, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .position_ui ul li._ml, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .position_ui ul li._bl { margin-left: 0; }

.wrap_pop.pop_section_bg .wrap_position .box_position_ui .position_ui ul li._tl, .wrap_pop.pop_section_bg .wrap_position .box_position_ui .position_ui ul li._tc, .wrap_pop.pop_section_bg .wrap_position .box_position_ui .position_ui ul li._tr, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .position_ui ul li._tl, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .position_ui ul li._tc, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .position_ui ul li._tr { margin-top: 0; }

.wrap_pop.pop_section_bg .wrap_position .box_position_ui .position_ui ul li._tr, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .position_ui ul li._tr { border-radius: 0 2px 0 0; }

.wrap_pop.pop_section_bg .wrap_position .box_position_ui .position_ui ul li._bl, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .position_ui ul li._bl { border-radius: 0 0 0 2px; }

.wrap_pop.pop_section_bg .wrap_position .box_position_ui .position_ui ul li._br, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .position_ui ul li._br { border-radius: 0 0 2px 0; }

.wrap_pop.pop_section_bg .wrap_position .box_position_ui .position_ui ul li._bl, .wrap_pop.pop_section_bg .wrap_position .box_position_ui .position_ui ul li._bc, .wrap_pop.pop_section_bg .wrap_position .box_position_ui .position_ui ul li._br, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .position_ui ul li._bl, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .position_ui ul li._bc, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .position_ui ul li._br { margin-bottom: 0; }

.wrap_pop.pop_section_bg .wrap_position .box_position_ui .tip_area, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .tip_area { display: inline-block; position: relative; z-index: 2; margin-left: 6px; vertical-align: 1px; }

.wrap_pop.pop_section_bg .wrap_position .box_position_ui .tip_area .mark_tooltip, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .tip_area .mark_tooltip { display: inline-block; position: relative; width: 21px; height: 21px; border-radius: 50%; font-size: 1.4rem; font-family: "본고딕"; text-align: center; line-height: 21px; vertical-align: top; background-color: #fff; border: 1px solid #ddd; }

.wrap_pop.pop_section_bg .wrap_position .box_position_ui .tip_area .mark_tooltip:hover, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .tip_area .mark_tooltip:hover { cursor: pointer; }

.wrap_pop.pop_section_bg .wrap_position .box_position_ui .tip_area .mark_tooltip:hover ~ .tooltip_note, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .tip_area .mark_tooltip:hover ~ .tooltip_note { display: block; }

.wrap_pop.pop_section_bg .wrap_position .box_position_ui .tip_area .tooltip_note, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .tip_area .tooltip_note { display: none; position: absolute; left: 50%; margin-left: -165px; top: -107px; padding: 30px 27px 0; width: 330px; height: 107px; background: url("../images/bg_tooltip1.svg") no-repeat left top; background-size: 330px 107px; box-sizing: border-box; }

.wrap_pop.pop_section_bg .wrap_position .box_position_ui .tip_area .tooltip_note p, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .tip_area .tooltip_note p { font-size: 1.4rem; font-family: "본고딕"; line-height: 1.4; letter-spacing: -0.8px; padding-bottom: 15px; }

.wrap_pop.pop_section_bg .wrap_position .box_position_ui .tip_area .tooltip_note p:last-child, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .tip_area .tooltip_note p:last-child { padding-bottom: 0; }

.wrap_pop.pop_section_bg .wrap_position .box_position_ui .tip_area .tooltip_note p, .wrap_pop.pop_visual_setting .wrap_position .box_position_ui .tip_area .tooltip_note p { color: #242424; }

.wrap_pop.pop_section_bg .wrap_position .position_ui_option, .wrap_pop.pop_visual_setting .wrap_position .position_ui_option { display: none; position: absolute; top: 0; z-index: 999999 !important; }

.wrap_pop.pop_section_bg .wrap_position .position_ui_option ul li:first-child, .wrap_pop.pop_visual_setting .wrap_position .position_ui_option ul li:first-child { border-radius: 3px 0 0 0; }

.wrap_pop.pop_section_bg .wrap_position .position_ui_option ul li:nth-child(1), .wrap_pop.pop_section_bg .wrap_position .position_ui_option ul li:nth-child(4), .wrap_pop.pop_section_bg .wrap_position .position_ui_option ul li:nth-child(7), .wrap_pop.pop_visual_setting .wrap_position .position_ui_option ul li:nth-child(1), .wrap_pop.pop_visual_setting .wrap_position .position_ui_option ul li:nth-child(4), .wrap_pop.pop_visual_setting .wrap_position .position_ui_option ul li:nth-child(7) { margin-left: 0; }

.wrap_pop.pop_section_bg .wrap_position .position_ui_option ul li:nth-child(1), .wrap_pop.pop_section_bg .wrap_position .position_ui_option ul li:nth-child(2), .wrap_pop.pop_section_bg .wrap_position .position_ui_option ul li:nth-child(3), .wrap_pop.pop_visual_setting .wrap_position .position_ui_option ul li:nth-child(1), .wrap_pop.pop_visual_setting .wrap_position .position_ui_option ul li:nth-child(2), .wrap_pop.pop_visual_setting .wrap_position .position_ui_option ul li:nth-child(3) { margin-top: 0; }

.wrap_pop.pop_section_bg .wrap_position .position_ui_option ul li:nth-child(3), .wrap_pop.pop_visual_setting .wrap_position .position_ui_option ul li:nth-child(3) { border-radius: 0 3px 0 0; }

.wrap_pop.pop_section_bg .wrap_position .position_ui_option ul li:nth-child(7), .wrap_pop.pop_visual_setting .wrap_position .position_ui_option ul li:nth-child(7) { border-radius: 0 0 0 3px; }

.wrap_pop.pop_section_bg .wrap_position .position_ui_option ul li:nth-child(9), .wrap_pop.pop_visual_setting .wrap_position .position_ui_option ul li:nth-child(9) { border-radius: 0 0 3px 0; }

.wrap_pop.pop_section_bg .wrap_position .position_ui_option ul.select_container, .wrap_pop.pop_visual_setting .wrap_position .position_ui_option ul.select_container { margin: 0; padding: 0; width: 72px; height: 72px; }

.wrap_pop.pop_section_bg .wrap_position .position_ui_option ul.select_container:after, .wrap_pop.pop_visual_setting .wrap_position .position_ui_option ul.select_container:after { content: ''; display: block; clear: both; }

.wrap_pop.pop_section_bg .wrap_position .position_ui_option ul.select_container li, .wrap_pop.pop_visual_setting .wrap_position .position_ui_option ul.select_container li { list-style: none; background: white; border: 1px solid #e0e0e0; width: 24px; height: 24px; margin-left: -1px; margin-top: -1px; float: left; cursor: pointer; }

.wrap_pop.pop_section_bg .wrap_position .position_ui_option ul.select_container li:hover, .wrap_pop.pop_visual_setting .wrap_position .position_ui_option ul.select_container li:hover { background: #00B8FF; }

.wrap_pop.pop_section_bg .wrap_position .position_ui_option ul.select_container li.active, .wrap_pop.pop_visual_setting .wrap_position .position_ui_option ul.select_container li.active { background: #00B8FF; }

.wrap_pop.pop_section_bg { width: 690px; }

.wrap_pop.pop_section_bg .pop_cont { position: relative; }

.wrap_pop.pop_section_bg .pop_cont .wrap_img { height: 338px; background-image: url(../images/icon_images.png); background-size: 93px 107px; background-repeat: no-repeat; background-position: center; border-bottom: 1px solid #ddd; }

.wrap_pop.pop_section_bg .pop_cont .upload_contain { position: absolute; right: 15px; top: 23px; z-index: 2; padding: 9px 15px; display: inline-block; border-radius: 4px; background: #e07272; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; font-size: 1.4rem; }

.wrap_pop.pop_section_bg .pop_cont .upload_contain label { display: block; cursor: pointer; margin-bottom: 0; }

.wrap_pop.pop_section_bg .pop_cont .upload_contain input { display: none; }

.wrap_pop.pop_section_bg .pop_cont .upload_contain label { color: #fff; }

.wrap_pop.pop_section_bg .pop_bottom { padding: 15px; }

.wrap_pop.pop_section_bg .pop_bottom .check_opt_area { display: flex; }

.wrap_pop.pop_section_bg .pop_bottom .check_opt_area .setting_mask { display: none; display: inline-block; position: relative; padding-left: 28px; cursor: pointer; user-select: none; width: auto; padding-left: 28px; margin-left: 70px; border-radius: 50%; font-size: 1.4rem; text-align: left; }

.wrap_pop.pop_section_bg .pop_bottom .check_opt_area .setting_mask.setting_color { display: inline-block; }

.wrap_pop.pop_section_bg .pop_bottom .check_opt_area .setting_mask input { position: absolute; height: 0; width: 0; opacity: 0; cursor: pointer; }

.wrap_pop.pop_section_bg .pop_bottom .check_opt_area .setting_mask .checkmark { position: absolute; top: 0; left: 0; height: 21px; width: 21px; border: 0; }

.wrap_pop.pop_section_bg .pop_bottom .check_opt_area .setting_mask input ~ .checkmark { background: url(../images/check_custom1_off.svg) no-repeat center/22px; top: 3px; }

.wrap_pop.pop_section_bg .pop_bottom .check_opt_area .setting_mask input:checked ~ .checkmark { background: url(../images/check_custom1_on.svg) no-repeat center/18px; }

.wrap_pop.pop_section_bg .pop_bottom .check_opt_area .setting_mask .tip_area { display: inline-block; position: relative; z-index: 2; margin-left: 6px; vertical-align: 1px; }

.wrap_pop.pop_section_bg .pop_bottom .check_opt_area .setting_mask .tip_area .mark_tooltip { display: inline-block; position: relative; width: 21px; height: 21px; border-radius: 50%; font-size: 1.4rem; font-family: "본고딕"; text-align: center; line-height: 21px; vertical-align: top; background-color: #fff; border: 1px solid #ddd; }

.wrap_pop.pop_section_bg .pop_bottom .check_opt_area .setting_mask .tip_area .mark_tooltip:hover { cursor: pointer; }

.wrap_pop.pop_section_bg .pop_bottom .check_opt_area .setting_mask .tip_area .mark_tooltip:hover ~ .tooltip_note { display: block; }

.wrap_pop.pop_section_bg .pop_bottom .check_opt_area .setting_mask .tip_area .tooltip_note { display: none; position: absolute; left: 50%; margin-left: -165px; top: -157px; padding: 30px 27px 0; width: 330px; height: 157px; background: url("../images/bg_tooltip1.svg") no-repeat left top; background-size: 330px 157px; box-sizing: border-box; }

.wrap_pop.pop_section_bg .pop_bottom .check_opt_area .setting_mask .tip_area .tooltip_note p { font-size: 1.4rem; font-family: "본고딕"; line-height: 1.4; letter-spacing: -0.8px; padding-bottom: 15px; }

.wrap_pop.pop_section_bg .pop_bottom .check_opt_area .setting_mask .tip_area .tooltip_note p:last-child { padding-bottom: 0; }

.wrap_pop.pop_section_bg .pop_bottom .check_opt_area .setting_color .tip_area { display: inline-block; position: relative; z-index: 2; margin-left: 6px; vertical-align: 1px; margin-left: 23px; }

.wrap_pop.pop_section_bg .pop_bottom .check_opt_area .setting_color .tip_area .mark_tooltip { display: inline-block; position: relative; width: 21px; height: 21px; border-radius: 50%; font-size: 1.4rem; font-family: "본고딕"; text-align: center; line-height: 21px; vertical-align: top; background-color: #fff; border: 1px solid #ddd; }

.wrap_pop.pop_section_bg .pop_bottom .check_opt_area .setting_color .tip_area .mark_tooltip:hover { cursor: pointer; }

.wrap_pop.pop_section_bg .pop_bottom .check_opt_area .setting_color .tip_area .mark_tooltip:hover ~ .tooltip_note { display: block; }

.wrap_pop.pop_section_bg .pop_bottom .check_opt_area .setting_color .tip_area .tooltip_note { display: none; position: absolute; left: 50%; margin-left: -165px; top: -87px; padding: 30px 27px 0; width: 330px; height: 87px; background: url("../images/bg_tooltip1.svg") no-repeat left top; background-size: 330px 87px; box-sizing: border-box; }

.wrap_pop.pop_section_bg .pop_bottom .check_opt_area .setting_color .tip_area .tooltip_note p { font-size: 1.4rem; font-family: "본고딕"; line-height: 1.4; letter-spacing: -0.8px; padding-bottom: 15px; }

.wrap_pop.pop_section_bg .pop_bottom .check_opt_area .setting_color .tip_area .tooltip_note p:last-child { padding-bottom: 0; }

.wrap_pop.pop_section_bg .pop_bottom .notice_btn_area { display: flex; align-items: center; margin-top: 15px; }

.wrap_pop.pop_section_bg .pop_bottom .notice_btn_area .notice { font-family: "본고딕"; font-size: 1.4rem; letter-spacing: -0.9px; color: #757575; }

.wrap_pop.pop_section_bg .pop_bottom .notice_btn_area .btn_pop_mv { padding: 8px 40px; display: inline-block; border-radius: 4px; background: #29abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; margin-left: auto; }

.wrap_pop.pop_section_bg .minicolors-theme-default .minicolors-swatch { top: -9px; left: auto; right: -18px; }

.wrap_pop.pop_img_edit_sty2 { width: 690PX; border: 1px solid #ddd; border-radius: 4px; }

.wrap_pop.pop_img_edit_sty2 .wrap_pop_cont { position: relative; }

.wrap_pop.pop_img_edit_sty2 .wrap_pop_cont .upload_contain { position: absolute; right: 15px; top: 23px; z-index: 2; padding: 9px 15px; display: inline-block; border-radius: 4px; background: #e07272; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; font-size: 1.4rem; }

.wrap_pop.pop_img_edit_sty2 .wrap_pop_cont .upload_contain label { display: block; cursor: pointer; margin-bottom: 0; }

.wrap_pop.pop_img_edit_sty2 .wrap_pop_cont .upload_contain input { display: none; }

.wrap_pop.pop_img_edit_sty2 .wrap_pop_cont .upload_contain label { color: #fff; }

.wrap_pop.pop_img_edit_sty2 .wrap_pop_cont .wrap_img { display: flex; justify-content: center; align-items: center; height: 388px; background-color: #ddd; background-image: url(../images/icon_images.png); background-position: center; background-size: 93px 107px; background-repeat: no-repeat; overflow: hidden; }

.wrap_pop.pop_img_edit_sty2 .wrap_pop_cont .wrap_img img { max-width: 100%; }

.wrap_pop.pop_img_edit_sty2 .bottom_area { display: block; padding: 18px 15px 15px 69px; }

.wrap_pop.pop_img_edit_sty2 .bottom_area label:first-of-type { font-size: 1.4rem; margin-right: 29px; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .inp_box { width: 287px; padding: 4px 1px; border-bottom: 1px solid #ddd; background: url("../images/select_custom1.svg") right 1px bottom 4px/12px no-repeat; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .inp_box input { font-size: 1.4rem; color: #757575; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .check_area { margin-top: 10px; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .check_area .check_contain { display: inline-block; position: relative; padding-left: 28px; cursor: pointer; user-select: none; width: auto; padding-left: 28px; border-radius: 50%; font-size: 14px; line-height: 25px; text-align: left; margin-left: 0; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .check_area .check_contain.sty1 { margin-left: 52px; margin-right: 58px; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .check_area .check_contain .tip_area { display: inline-block; position: relative; z-index: 2; margin-left: 6px; vertical-align: 1px; vertical-align: middle; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .check_area .check_contain .tip_area .mark_tooltip { display: inline-block; position: relative; width: 21px; height: 21px; border-radius: 50%; font-size: 1.4rem; font-family: "본고딕"; text-align: center; line-height: 21px; vertical-align: top; background-color: #fff; border: 1px solid #ddd; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .check_area .check_contain .tip_area .mark_tooltip:hover { cursor: pointer; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .check_area .check_contain .tip_area .mark_tooltip:hover ~ .tooltip_note { display: block; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .check_area .check_contain .tip_area .tooltip_note { display: none; position: absolute; left: 50%; margin-left: -165px; top: -127px; padding: 30px 27px 0; width: 330px; height: 127px; background: url("../images/bg_tooltip1.svg") no-repeat left top; background-size: 330px 127px; box-sizing: border-box; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .check_area .check_contain .tip_area .tooltip_note p { font-size: 1.4rem; font-family: "본고딕"; line-height: 1.4; letter-spacing: -0.8px; padding-bottom: 15px; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .check_area .check_contain .tip_area .tooltip_note p:last-child { padding-bottom: 0; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .check_area .check_contain input { position: absolute; height: 0; width: 0; opacity: 0; cursor: pointer; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .check_area .check_contain .checkmark { position: absolute; top: 0; left: 0; height: 21px; width: 21px; border: 0; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .check_area .check_contain input ~ .checkmark { background: url(../images/check_custom1_off.svg) no-repeat center/22px; top: 2px; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .check_area .check_contain input:checked ~ .checkmark { background: url(../images/check_custom1_on.svg) no-repeat center/18px; }

.wrap_pop.pop_img_edit_sty2 .btn_area { margin-top: 13px; text-align: right; }

.wrap_pop.pop_img_edit_sty2 .btn_area .complete { padding: 8px 40px; display: inline-block; border-radius: 4px; background: #29abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; }

.wrap_pop.pop_img_edit_sty2 .bottom_area { padding: 14px 15px 15px 14px; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .notice_txt { font-size: 1.3rem; font-family: "본고딕"; color: #757575; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .wrap_effect_opt { display: flex; padding-top: 23px; padding-left: 68px; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .wrap_effect_opt .opt_tit { font-size: 1.4rem; font-family: "본고딕"; color: #242424; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .wrap_effect_opt .effect_box { display: flex; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain { display: inline-block; position: relative; padding-left: 28px; cursor: pointer; user-select: none; padding-left: 28px; border-radius: 50%; font-size: 1.4rem; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain input { position: absolute; height: 0; width: 0; opacity: 0; cursor: pointer; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain .checkmark { position: absolute; top: 0; left: 0; height: 21px; width: 21px; border: 0; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain input ~ .checkmark { background: url(../images/check_custom1_off.svg) no-repeat center/23px; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain input:checked ~ .checkmark { background: url(../images/check_custom1_on.svg) no-repeat center/18px; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_fitimg .tip_area { display: inline-block; position: relative; z-index: 2; margin-left: 6px; vertical-align: 1px; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_fitimg .tip_area .mark_tooltip { display: inline-block; position: relative; width: 21px; height: 21px; border-radius: 50%; font-size: 1.4rem; font-family: "본고딕"; text-align: center; line-height: 21px; vertical-align: top; background-color: #fff; border: 1px solid #ddd; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_fitimg .tip_area .mark_tooltip:hover { cursor: pointer; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_fitimg .tip_area .mark_tooltip:hover ~ .tooltip_note { display: block; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_fitimg .tip_area .tooltip_note { display: none; position: absolute; left: 50%; margin-left: -165px; top: -107px; padding: 30px 27px 0; width: 330px; height: 107px; background: url("../images/bg_tooltip1.svg") no-repeat left top; background-size: 330px 107px; box-sizing: border-box; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_fitimg .tip_area .tooltip_note p { font-size: 1.4rem; font-family: "본고딕"; line-height: 1.4; letter-spacing: -0.8px; padding-bottom: 15px; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_fitimg .tip_area .tooltip_note p:last-child { padding-bottom: 0; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_lightbox { margin-left: 29px; margin-right: 55px; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_lightbox .tip_area { display: inline-block; position: relative; z-index: 2; margin-left: 6px; vertical-align: 1px; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_lightbox .tip_area .mark_tooltip { display: inline-block; position: relative; width: 21px; height: 21px; border-radius: 50%; font-size: 1.4rem; font-family: "본고딕"; text-align: center; line-height: 21px; vertical-align: top; background-color: #fff; border: 1px solid #ddd; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_lightbox .tip_area .mark_tooltip:hover { cursor: pointer; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_lightbox .tip_area .mark_tooltip:hover ~ .tooltip_note { display: block; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_lightbox .tip_area .tooltip_note { display: none; position: absolute; left: 50%; margin-left: -165px; top: -167px; padding: 30px 27px 0; width: 330px; height: 167px; background: url("../images/bg_tooltip1.svg") no-repeat left top; background-size: 330px 167px; box-sizing: border-box; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_lightbox .tip_area .tooltip_note p { font-size: 1.4rem; font-family: "본고딕"; line-height: 1.4; letter-spacing: -0.8px; padding-bottom: 15px; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .wrap_effect_opt .effect_box .check_contain.chk_lightbox .tip_area .tooltip_note p:last-child { padding-bottom: 0; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .wrap_link { margin-top: 32px; padding-left: 68px; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .wrap_link .link_area { display: flex; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .wrap_link .link_area input { width: 90%; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .btn_box { margin-top: 13px; text-align: right; }

.wrap_pop.pop_img_edit_sty2 .bottom_area .btn_box .complete { padding: 8px 40px; display: inline-block; border-radius: 4px; background: #29abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; }

.wrap_pop.pop_btn_edit { width: 390px; }

.wrap_pop.pop_btn_edit .cont_area .inp_box { margin-bottom: 20px; }

.wrap_pop.pop_btn_edit .cont_area .inp_box > label { padding-right: 29px; box-sizing: content-box; }

.wrap_pop.pop_btn_edit .cont_area .link_area { margin-bottom: 10px; }

.wrap_pop.pop_btn_edit .cont_area .link_area .home_nav_url { position: absolute; top: 30px; left: 95px; width: 170px; padding: 0 10px; box-sizing: border-box; border: 1px solid #ddd; background: #fff; }

.wrap_pop.pop_btn_edit .cont_area .inp_area, .wrap_pop.pop_btn_edit .cont_area .select_area { width: 200px; }

.wrap_pop.pop_btn_edit .cont_area .inp_area input, .wrap_pop.pop_btn_edit .cont_area .select_area input { width: 200px; }

.wrap_pop.pop_btn_edit .check_area { margin-left: 122px; }

.wrap_pop.pop_btn_edit .bottom_area { display: flex; justify-content: flex-end; padding-top: 23px; padding-bottom: 15px; }

.wrap_pop .link_area, .wrap_pop .check_area { display: flex; align-items: center; }

.wrap_pop .link_area .inp_area { border-bottom: 1px solid #ddd; background: url("../images/select_custom1.svg") right 1px bottom 2px/12px no-repeat; }

.wrap_pop .link_area .inp_area input { padding: 2px 1px; }

.wrap_pop .head_area { position: relative; width: 100%; height: 50px; color: #29abe2; font-size: 1.6rem; font-family: notoSans-M; font-weight: bold; text-align: center; line-height: 50px; border-bottom: 1px solid #ddd; }

.wrap_pop .head_area .btn_close { position: absolute; top: 15px; right: 15px; width: 21px; height: 21px; background: url("../images/btn_close.svg") no-repeat left top; background-size: 21px 21px; background-size: 20px; cursor: pointer; }

.wrap_pop .menu_area { overflow-y: auto; width: 212px; height: 272px; border-right: 1px solid #ddd; }

.wrap_pop .menu_area li { display: block !important; cursor: pointer; }

.wrap_pop .menu_area .box_add_depth1, .wrap_pop .menu_area .box_add_depth2, .wrap_pop .menu_area .list_depth2 li { overflow: hidden; height: 40px; line-height: 40px; font-size: 1.4rem; }

.wrap_pop .menu_area .box_add_depth1 { padding: 0 11px 0 23px; }

.wrap_pop .menu_area .box_add_depth1.on { color: #fff; background: #29abe2; }

.wrap_pop .menu_area .list_depth1 li.on .box_add_depth2 { color: #fff; background: #29abe2; }

.wrap_pop .menu_area .list_depth2 li:hover { color: #fff; background: rgba(41, 171, 226, 0.9); }

.wrap_pop .menu_area .list_depth2 li.on { color: #fff; background: #29abe2; }

.wrap_pop .menu_area .box_add_depth2 { padding: 0 31px 0 43px; }

.wrap_pop .menu_area .list_depth2 li { padding: 0 0 0 53px; }

.wrap_pop .menu_area .txt { float: left; font-size: 1.4rem; font-family: "본고딕"; }

.wrap_pop .menu_area .btn_add { float: right; margin-top: 11px; cursor: pointer; width: 21px; height: 21px; background: url("../images/btn_add.svg") no-repeat left top; background-size: 21px 21px; }

.wrap_pop.edit_all_menu .cont_area { padding-top: 10px; }

.wrap_pop.edit_all_menu .cont_area label { width: 108px; margin-right: 29px; }

.wrap_pop.edit_all_menu .list_depth1 li span .wrap_menu { width: 100%; }

.wrap_pop.edit_all_menu .list_depth1 li span .wrap_menu .btn_add { display: block !important; }

.wrap_pop.edit_all_menu .list_depth1 li > .txt, .wrap_pop.edit_all_menu .list_depth1 li > .txt2 { display: flex; overflow: hidden; width: 100% !important; height: 40px; line-height: 40px; font-size: 1.4rem; }

.wrap_pop.edit_all_menu .list_depth1 li > .txt { padding: 0 31px 0 43px; }

.wrap_pop.edit_all_menu .list_depth1 li > .txt:hover { color: #fff; background: rgba(41, 171, 226, 0.9); }

.wrap_pop.edit_all_menu .list_depth1 li.on > .txt { display: block; color: #fff; background: #29abe2; }

.wrap_pop.edit_one_menu .cont_area { padding-top: 50px; }

.wrap_pop.edit_one_menu .cont_area label { width: 108px; margin-right: 29px; }

.wrap_pop.edit_cmn_site .cont_area { padding-top: 22px; }

.wrap_pop.edit_cmn_site .cont_area .inp_box { margin-bottom: 20px; }

.wrap_pop.edit_cmn_site .cont_area .inp_box.mg_last { margin-bottom: 0; }

.wrap_pop.edit_cmn_site .cont_area .inp_box label { margin-right: 30px; }

.wrap_pop .cont_area .sub_tit { padding-left: 22px; padding-bottom: 28px; font-size: 1.6rem; font-weight: bold; font-family: notoSans-M; }

.wrap_pop .cont_area .sub_tit.sty2 { margin-top: 55px; padding-bottom: 7px; }

.wrap_pop .cont_area .depth_moveup_area { overflow: hidden; padding-left: 45px; margin-bottom: 20px; font-size: 0; }

.wrap_pop .cont_area .depth_moveup_area .btn_back { display: block; float: left; margin-right: 7px; width: 21px; height: 21px; background: url("../images/btn_back1.svg") no-repeat left top; background-size: 21px 21px; cursor: pointer; }

.wrap_pop .cont_area .depth_moveup_area .txt { font-size: 1.4rem; font-family: "본고딕"; vertical-align: middle; cursor: pointer; }

.wrap_pop .cont_area .inp_box { position: relative; margin-bottom: 38px; font-size: 0; }

.wrap_pop .cont_area .inp_box * { font-size: 1.4rem; }

.wrap_pop .cont_area .inp_box .select_page_link { display: none; width: 289px; max-height: 200px; padding: 10px 20px; position: absolute; top: 30px; left: 137px; background: #fff; border-radius: 4px; overflow-y: auto; z-index: 1; box-shadow: 0 0 5px 0 #ddd; }

.wrap_pop .cont_area .inp_box .select_page_link .depth2_li { padding: 0 5px; }

.wrap_pop .cont_area .inp_box label { display: inline-block; text-align: right; font-size: 1.4rem; font-family: "본고딕"; color: #242424; }

.wrap_pop .cont_area .inp_box:last-child { margin-bottom: 0; }

.wrap_pop .cont_area .inp_box .url_link { font-size: 13px; color: #757575; }

.wrap_pop .cont_area .inp_box .notice { display: block; position: absolute; left: 137px; padding-top: 6px; font-size: 13px; font-family: "본고딕"; color: #757575; letter-spacing: -0.8px; }

.wrap_pop .cont_area .inp_box .check_contain { display: inline-block; position: relative; padding-left: 28px; cursor: pointer; user-select: none; width: auto; margin-right: 46px; padding-left: 28px; border-radius: 50%; font-size: 14px; text-align: left; }

.wrap_pop .cont_area .inp_box .check_contain input { position: absolute; height: 0; width: 0; opacity: 0; cursor: pointer; }

.wrap_pop .cont_area .inp_box .check_contain .checkmark { position: absolute; top: 0; left: 0; height: 21px; width: 21px; border: 0; }

.wrap_pop .cont_area .inp_box .check_contain input ~ .checkmark { background: url(../images/check_custom1_off.svg) no-repeat center/22px; }

.wrap_pop .cont_area .inp_box .check_contain input:checked ~ .checkmark { background: url(../images/check_custom1_on.svg) no-repeat center/18px; }

.wrap_pop.edit_all_menu .bottom_area { display: flex; align-items: center; padding: 15px 0; }

.wrap_pop.edit_one_menu .bottom_area { display: flex; align-items: center; padding: 37px 0 15px; }

.wrap_pop.edit_cmn_site .bottom_area { padding: 34px 0 15px; text-align: right; }

.wrap_pop.pop_edit_footer { padding-bottom: 15px; }

.wrap_pop.pop_edit_footer .wrap_pop_cont { padding: 29px 15px 27px; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .opt_tit { margin-bottom: 14px; padding-left: 6px; font-size: 1.6rem; font-family: "본고딕"; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .wrap_sty_img { display: flex; flex-wrap: wrap; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .wrap_sty_img .img_box { width: 510px; cursor: pointer; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .wrap_sty_img .img_box:nth-child(even) { margin-left: auto; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .wrap_sty_img .img_box:nth-child(2), .wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .wrap_sty_img .img_box:first-child { margin-bottom: 15px; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .style_opt_area .img_box { border: 1px solid #ddd; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area { margin-top: 42px; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .btn_plus_sns { display: inline-block; margin-left: 10px; width: 21px; height: 21px; background: url("../images/btn_add.svg") no-repeat left top; background-size: 21px 21px; vertical-align: middle; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .wrap_sns_opt { display: flex; margin-bottom: 19px; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .wrap_sns_opt .area_sns_opt { display: flex; align-items: start; margin-right: 40px; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .wrap_sns_opt .area_sns_opt .wrap_select_custom { position: relative; width: 53px; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .wrap_sns_opt .area_sns_opt .wrap_select_custom .icon-sns1 { background-image: url(/images/icon_playkok.png); }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .wrap_sns_opt .area_sns_opt .wrap_select_custom .icon-sns2 { background-image: url(/images/icon_facebook.png); }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .wrap_sns_opt .area_sns_opt .wrap_select_custom .icon-sns3 { background-image: url(/images/icon_blognaver.png); }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .wrap_sns_opt .area_sns_opt .wrap_select_custom .icon-sns4 { background-image: url(/images/icon_youtube.png); }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .wrap_sns_opt .area_sns_opt .wrap_select_custom .icon-sns5 { background-image: url(/images/icon_instargram.png); }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .wrap_sns_opt .area_sns_opt .wrap_select_custom .select_sns { position: relative; height: 35px; border-bottom: 1px solid #ddd; background-repeat: no-repeat; background-size: 30px 30px; background-position: 0 0; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .wrap_sns_opt .area_sns_opt .wrap_select_custom .select_sns .select_arrow { content: ''; display: block; position: absolute; right: 0; top: 0; width: 12px; height: 100%; background: url("../images/select_custom1.svg") no-repeat bottom 4px right; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .wrap_sns_opt .area_sns_opt .wrap_select_custom .option_area { display: none; width: 53px; position: absolute; left: 0; top: 36px; padding: 3px 0; border: 1px solid #ddd; background: #fff; z-index: 1; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .wrap_sns_opt .area_sns_opt .wrap_select_custom .option_area.on { display: block; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .wrap_sns_opt .area_sns_opt .wrap_select_custom .option_area li { height: 35px; padding: 3px 0; border-bottom: 0; background-repeat: no-repeat; background-position: center; background-size: 30px 30px; cursor: pointer; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .wrap_sns_opt .area_sns_opt .wrap_select_custom .option_area li:hover { background-color: #ddd; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .wrap_sns_opt .area_sns_opt .wrap_select_custom select { position: absolute; left: 0; top: 0; width: 100%; height: 34px; line-height: 34px; padding: 0 1px; opacity: 0; box-sizing: border-box; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .wrap_sns_opt .area_sns_opt .inp_area { width: 126px; margin: 0 6px 0 15px; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .wrap_sns_opt .area_sns_opt .inp_area .inp_box { height: 34px; margin-bottom: 10px; border-bottom: 1px solid #ddd; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .wrap_sns_opt .area_sns_opt .inp_area .inp_box input { padding: 4px 0; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .wrap_sns_opt .area_sns_opt .inp_area .check_contain { font-size: 1.4rem; font-family: "본고딕"; display: inline-block; position: relative; padding-left: 28px; cursor: pointer; user-select: none; padding-left: 28px; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .wrap_sns_opt .area_sns_opt .inp_area .check_contain input { position: absolute; height: 0; width: 0; opacity: 0; cursor: pointer; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .wrap_sns_opt .area_sns_opt .inp_area .check_contain .checkmark { position: absolute; top: 0; left: 0; height: 21px; width: 21px; border: 0; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .wrap_sns_opt .area_sns_opt .inp_area .check_contain input ~ .checkmark { background: url(../images/check_custom1_off.svg) no-repeat center/22px; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .wrap_sns_opt .area_sns_opt .inp_area .check_contain input:checked ~ .checkmark { background: url(../images/check_custom1_on.svg) no-repeat center/18px; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .wrap_sns_opt .area_sns_opt .del_area { align-self: center; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .wrap_sns_opt .area_sns_opt .del_area .btn_del { display: block; width: 21px; height: 21px; background: url("../images/btn_close.svg") no-repeat left top; background-size: 21px 21px; cursor: pointer; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .wrap_sns_opt .area_sns_opt:first-of-type { margin-left: 15px; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .wrap_sns_opt .area_sns_opt:last-of-type { margin-right: 0; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .sns_share_opt_area .txt { padding-left: 17px; font-size: 1.3rem; font-family: "본고딕"; color: #757575; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .opt_add_area { margin-top: 28px; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .opt_add_area .opt_add_box { padding-left: 15px; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .opt_add_area .opt_add_box .check_contain { font-size: 1.4rem; font-family: "본고딕"; display: inline-block; position: relative; padding-left: 28px; cursor: pointer; user-select: none; padding-left: 28px; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .opt_add_area .opt_add_box .check_contain input { position: absolute; height: 0; width: 0; opacity: 0; cursor: pointer; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .opt_add_area .opt_add_box .check_contain .checkmark { position: absolute; top: 0; left: 0; height: 21px; width: 21px; border: 0; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .opt_add_area .opt_add_box .check_contain:last-child { margin-left: 70px; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .opt_add_area .opt_add_box .check_contain input ~ .checkmark { background: url(../images/check_custom1_off.svg) no-repeat center/22px; }

.wrap_pop.pop_edit_footer .wrap_pop_cont .cont_area .opt_add_area .opt_add_box .check_contain input:checked ~ .checkmark { background: url(../images/check_custom1_on.svg) no-repeat center/18px; }

.wrap_pop.pop_edit_footer .bottom_area { text-align: right; }

.wrap_pop.pop_edit_footer .bottom_area .btn_apply { margin-right: 15px; padding: 8px 40px; display: inline-block; border-radius: 4px; background: #29abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; letter-spacing: 0; }

.wrap_pop.add_section_pop { width: 1080px; border: 1px solid #ddd; }

.wrap_pop.add_section_pop .cont_area { padding-top: 23px; padding-bottom: 52px; }

.wrap_pop.add_section_pop .cont_area .add_sect_area { margin-bottom: 10px; }

.wrap_pop.add_section_pop .cont_area .add_sect_area .sub_tit { display: inline-flex; padding: 0 60px 0 53px; }

.wrap_pop.add_section_pop .cont_area .add_sect_area .wrap_type_list { display: inline-flex; }

.wrap_pop.add_section_pop .cont_area .add_sect_area .wrap_type_list span { display: inline-flex; padding: 6px 3px; font-size: 1.4rem; font-family: "본고딕"; color: #242424; cursor: pointer; }

.wrap_pop.add_section_pop .cont_area .add_sect_area .wrap_type_list span.on { border-bottom: 1px solid #29abe2; color: #29abe2; }

.wrap_pop.add_section_pop .cont_area .add_sect_area .wrap_type_list span:hover { color: #29abe2; }

.wrap_pop.add_section_pop .cont_area .add_sect_area .wrap_type_list span:nth-child(2) { margin: 0 37px; }

.wrap_pop.add_section_pop .cont_area .add_sect_area .wrap_dsgn_list { overflow-y: auto; height: 335px; margin-top: 10px; background-color: #ddd; }

.wrap_pop.add_section_pop .cont_area .add_sect_area .wrap_dsgn_list ul { display: none; overflow: hidden; }

.wrap_pop.add_section_pop .cont_area .add_sect_area .wrap_dsgn_list ul.visual_dsgn li { padding: 15px; }

.wrap_pop.add_section_pop .cont_area .add_sect_area .wrap_dsgn_list ul.visual_dsgn li img { width: 509px; height: 305px; }

.wrap_pop.add_section_pop .cont_area .add_sect_area .wrap_dsgn_list ul.content_dsgn { padding: 15px 15px 0; }

.wrap_pop.add_section_pop .cont_area .add_sect_area .wrap_dsgn_list ul.content_dsgn li { padding-bottom: 15px; }

.wrap_pop.add_section_pop .cont_area .add_sect_area .wrap_dsgn_list ul.content_dsgn li:nth-child(3n+2) { padding-left: 15px; padding-right: 15px; }

.wrap_pop.add_section_pop .cont_area .add_sect_area .wrap_dsgn_list ul.content_dsgn li img { width: 339px; }

.wrap_pop.add_section_pop .cont_area .add_sect_area .wrap_dsgn_list ul.footer_dsgn { padding-top: 15px; }

.wrap_pop.add_section_pop .cont_area .add_sect_area .wrap_dsgn_list ul.footer_dsgn li { padding: 0 15px 15px; }

.wrap_pop.add_section_pop .cont_area .add_sect_area .wrap_dsgn_list ul.footer_dsgn li img { width: 509px; }

.wrap_pop.add_section_pop .cont_area .add_sect_area .wrap_dsgn_list ul li { position: relative; float: left; }

.wrap_pop.add_section_pop .cont_area .add_dsgn_area .sub_tit, .wrap_pop.add_section_pop .cont_area .add_db_area .sub_tit { padding: 30px 0 11px 53px; }

.wrap_pop.add_section_pop .cont_area .add_dsgn_area .wrap_dsgn_list, .wrap_pop.add_section_pop .cont_area .add_dsgn_area .wrap_db_list, .wrap_pop.add_section_pop .cont_area .add_db_area .wrap_dsgn_list, .wrap_pop.add_section_pop .cont_area .add_db_area .wrap_db_list { display: flex; }

.wrap_pop.add_section_pop .cont_area .add_dsgn_area .wrap_dsgn_list dl, .wrap_pop.add_section_pop .cont_area .add_dsgn_area .wrap_db_list dl, .wrap_pop.add_section_pop .cont_area .add_db_area .wrap_dsgn_list dl, .wrap_pop.add_section_pop .cont_area .add_db_area .wrap_db_list dl { margin-right: 40px; cursor: pointer; }

.wrap_pop.add_section_pop .cont_area .add_dsgn_area .wrap_dsgn_list dl:first-child, .wrap_pop.add_section_pop .cont_area .add_dsgn_area .wrap_db_list dl:first-child, .wrap_pop.add_section_pop .cont_area .add_db_area .wrap_dsgn_list dl:first-child, .wrap_pop.add_section_pop .cont_area .add_db_area .wrap_db_list dl:first-child { margin-left: 65px; }

.wrap_pop.add_section_pop .cont_area .add_dsgn_area .wrap_dsgn_list dl:last-child, .wrap_pop.add_section_pop .cont_area .add_dsgn_area .wrap_db_list dl:last-child, .wrap_pop.add_section_pop .cont_area .add_db_area .wrap_dsgn_list dl:last-child, .wrap_pop.add_section_pop .cont_area .add_db_area .wrap_db_list dl:last-child { margin-right: 0; }

.wrap_pop.add_section_pop .cont_area .add_dsgn_area .wrap_dsgn_list dl dt, .wrap_pop.add_section_pop .cont_area .add_dsgn_area .wrap_db_list dl dt, .wrap_pop.add_section_pop .cont_area .add_db_area .wrap_dsgn_list dl dt, .wrap_pop.add_section_pop .cont_area .add_db_area .wrap_db_list dl dt { display: block; width: 60px; height: 60px; border: 1px solid #ddd; background-position: center; background-repeat: no-repeat; background-color: #fff; }

.wrap_pop.add_section_pop .cont_area .add_dsgn_area .wrap_dsgn_list dl dd, .wrap_pop.add_section_pop .cont_area .add_dsgn_area .wrap_db_list dl dd, .wrap_pop.add_section_pop .cont_area .add_db_area .wrap_dsgn_list dl dd, .wrap_pop.add_section_pop .cont_area .add_db_area .wrap_db_list dl dd { padding-top: 4px; font-size: 1.4rem; font-family: "본고딕"; text-align: center; }

.wrap_pop.add_section_pop .cont_area .add_dsgn_area .wrap_dsgn_list .icon_images, .wrap_pop.add_section_pop .cont_area .add_db_area .wrap_dsgn_list .icon_images { background-image: url(../images/icon_images.jpg); background-size: 29px 33px; }

.wrap_pop.add_section_pop .cont_area .add_dsgn_area .wrap_dsgn_list .icon_text, .wrap_pop.add_section_pop .cont_area .add_db_area .wrap_dsgn_list .icon_text { background-image: url(../images/icon_pencil.svg); background-size: 22px 23px; }

.wrap_pop.add_section_pop .cont_area .add_dsgn_area .wrap_dsgn_list .icon_movie, .wrap_pop.add_section_pop .cont_area .add_db_area .wrap_dsgn_list .icon_movie { background-image: url(../images/icon_movie.svg); background-size: 32px 26px; }

.wrap_pop.add_section_pop .cont_area .add_dsgn_area .wrap_dsgn_list .icon_map, .wrap_pop.add_section_pop .cont_area .add_db_area .wrap_dsgn_list .icon_map { background-image: url(../images/icon_map.png); background-size: 32px 32px; }

.wrap_pop.add_section_pop .cont_area .add_dsgn_area .wrap_dsgn_list .icon_padding, .wrap_pop.add_section_pop .cont_area .add_db_area .wrap_dsgn_list .icon_padding { background-image: url(../images/icon_padding.svg); background-size: 44px 15px; }

.wrap_pop.add_section_pop .cont_area .add_dsgn_area .wrap_db_list .icon_board, .wrap_pop.add_section_pop .cont_area .add_db_area .wrap_db_list .icon_board { background-image: url(../images/icon_board.svg); background-size: 28px 24px; }

.wrap_pop.add_section_pop .cont_area .add_dsgn_area .wrap_db_list .icon_gallery, .wrap_pop.add_section_pop .cont_area .add_db_area .wrap_db_list .icon_gallery { background-image: url(../images/icon_gallery.svg); background-size: 26px 22px; }

.wrap_pop.add_section_pop .cont_area .add_dsgn_area .wrap_db_list .icon_calander, .wrap_pop.add_section_pop .cont_area .add_db_area .wrap_db_list .icon_calander { background-image: url(../images/icon_calander.svg); background-size: 22px 24px; }

.wrap_pop.add_section_pop .add_db_area { margin-top: 7px; }

.wrap_pop.set_map { width: 690px; }

.wrap_pop.set_map .wrap_map_api { width: 690px; height: 388px; background: url("../images/bg_map.jpg") no-repeat left top; background-size: 690px 388px; }

.wrap_pop.set_map .bottom_area { padding: 22px 15px 12px 0; }

.wrap_pop.set_map .bottom_area .inp_box { font-size: 0; }

.wrap_pop.set_map .bottom_area .inp_box label { display: inline-block; width: 104px; margin-right: 30px; font-size: 1.4rem; font-family: "본고딕"; text-align: right; vertical-align: middle; color: #242424; }

.wrap_pop.set_map .bottom_area .inp_box input[type="text"] { width: 337px; padding: 3px 2px; box-sizing: border-box; border-bottom: 1px solid #ddd; font-size: 1.4rem; vertical-align: middle; }

.wrap_pop.set_map .bottom_area .inp_box input[type="submit"] { font-size: 1.4rem; text-decoration: underline; vertical-align: middle; margin: 0 0 0 5px; }

.wrap_pop.set_map .bottom_area p { padding-left: 133px; padding-top: 14px; font-size: 1.3rem; font-family: "본고딕"; line-height: 1; color: #757575; }

.wrap_pop.set_map .bottom_area p a { font-family: notoSans-M; color: #29abe2; text-decoration: underline; vertical-align: top; }

.wrap_pop.set_map .bottom_area .wrap_opt_chk { margin-top: 23px; padding-left: 129px; }

.wrap_pop.set_map .bottom_area .wrap_opt_chk .check_contain { display: inline-block; position: relative; padding-left: 28px; cursor: pointer; user-select: none; width: auto; padding-left: 28px; border-radius: 50%; font-size: 1.3rem; font-family: "본고딕"; text-align: left; }

.wrap_pop.set_map .bottom_area .wrap_opt_chk .check_contain input { position: absolute; height: 0; width: 0; opacity: 0; cursor: pointer; }

.wrap_pop.set_map .bottom_area .wrap_opt_chk .check_contain .checkmark { position: absolute; top: 0; left: 0; height: 21px; width: 21px; border: 0; }

.wrap_pop.set_map .bottom_area .wrap_opt_chk .check_contain input ~ .checkmark { background: url(../images/check_custom1_off.svg) no-repeat center/22px; }

.wrap_pop.set_map .bottom_area .wrap_opt_chk .check_contain input:checked ~ .checkmark { background: url(../images/check_custom1_on.svg) no-repeat center/18px; }

.wrap_pop.set_map .bottom_area .btn_box { margin-top: 34px; text-align: right; }

.wrap_pop.set_map .bottom_area .btn_box .complete, .wrap_pop.set_map .bottom_area .btn_box .next { padding: 8px 40px; display: inline-block; border-radius: 4px; background: #29abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; letter-spacing: 0; }

.wrap_pop.set_movie, .wrap_pop.main_set_movie { width: 690px; }

.wrap_pop.set_movie .cont_area, .wrap_pop.main_set_movie .cont_area { padding: 15px 0 14px; }

.wrap_pop.set_movie .cont_area .wrap_upload, .wrap_pop.main_set_movie .cont_area .wrap_upload { display: flex; margin-bottom: 28px; }

.wrap_pop.set_movie .cont_area .wrap_upload .inp_box, .wrap_pop.main_set_movie .cont_area .wrap_upload .inp_box { padding-top: 9px; margin-bottom: 0; }

.wrap_pop.set_movie .cont_area .wrap_upload .inp_box label, .wrap_pop.main_set_movie .cont_area .wrap_upload .inp_box label { width: 70px; margin-right: 29px; vertical-align: bottom; line-height: 25px; }

.wrap_pop.set_movie .cont_area .wrap_upload .inp_box input, .wrap_pop.main_set_movie .cont_area .wrap_upload .inp_box input { width: 287px; padding: 2px 0; border-bottom: 1px solid #ddd; line-height: 1; vertical-align: bottom; }

.wrap_pop.set_movie .cont_area .wrap_upload .upload_btn_box, .wrap_pop.main_set_movie .cont_area .wrap_upload .upload_btn_box { margin-left: auto; margin-right: 15px; line-height: 1; }

.wrap_pop.set_movie .cont_area .wrap_upload .upload_btn_box label, .wrap_pop.main_set_movie .cont_area .wrap_upload .upload_btn_box label { display: block; cursor: pointer; margin-bottom: 0; }

.wrap_pop.set_movie .cont_area .wrap_upload .upload_btn_box input, .wrap_pop.main_set_movie .cont_area .wrap_upload .upload_btn_box input { display: none; }

.wrap_pop.set_movie .cont_area .wrap_upload .upload_btn_box label, .wrap_pop.main_set_movie .cont_area .wrap_upload .upload_btn_box label { padding: 9px 18px; display: inline-block; border-radius: 4px; background: #e07272; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.4rem; line-height: 1; cursor: pointer; }

.wrap_pop.set_movie .cont_area .wrap_movie_api, .wrap_pop.main_set_movie .cont_area .wrap_movie_api { display: flex; justify-content: center; align-content: center; width: 690px; height: 388px; background: url("../images/bg_movie.jpg") no-repeat left top; background-size: 690px 388px; }

.wrap_pop.set_movie .cont_area .wrap_movie_api #pop_previewarea_video, .wrap_pop.main_set_movie .cont_area .wrap_movie_api #pop_previewarea_video { display: none; max-height: 100%; }

.wrap_pop.set_movie .cont_area .wrap_movie_api .preview_video_init, .wrap_pop.set_movie .cont_area .wrap_movie_api .preview_video, .wrap_pop.main_set_movie .cont_area .wrap_movie_api .preview_video_init, .wrap_pop.main_set_movie .cont_area .wrap_movie_api .preview_video { max-width: 100%; max-height: 100%; }

.wrap_pop.set_movie.main_set_movie, .wrap_pop.main_set_movie.main_set_movie { width: 1020px; }

.wrap_pop.set_movie.main_set_movie .cont_area .wrap_upload, .wrap_pop.main_set_movie.main_set_movie .cont_area .wrap_upload { display: flex; }

.wrap_pop.set_movie.main_set_movie .cont_area .wrap_upload .inp_wrap, .wrap_pop.main_set_movie.main_set_movie .cont_area .wrap_upload .inp_wrap { display: flex; padding-left: 15px; }

.wrap_pop.set_movie.main_set_movie .cont_area .wrap_upload .inp_wrap .label_txt, .wrap_pop.main_set_movie.main_set_movie .cont_area .wrap_upload .inp_wrap .label_txt { height: 28px; line-height: 28px; font-size: 1.4rem; color: #242424; }

.wrap_pop.set_movie.main_set_movie .cont_area .wrap_upload .inp_area, .wrap_pop.main_set_movie.main_set_movie .cont_area .wrap_upload .inp_area { padding-left: 29px; }

.wrap_pop.set_movie.main_set_movie .cont_area .wrap_upload .inp_area .inp_url, .wrap_pop.main_set_movie.main_set_movie .cont_area .wrap_upload .inp_area .inp_url { display: block; width: 287px; padding: 3px 0; border-bottom: 1px solid #ddd; font-size: 1.4rem; color: #242424; }

.wrap_pop.set_movie.main_set_movie .cont_area .wrap_upload .inp_area .note_txt, .wrap_pop.main_set_movie.main_set_movie .cont_area .wrap_upload .inp_area .note_txt { padding-top: 10px; font-family: "본고딕"; font-size: 1.4rem; letter-spacing: -0.9px; color: #242424; }

.wrap_pop.set_movie.main_set_movie .cont_area .wrap_upload .upload_contain, .wrap_pop.main_set_movie.main_set_movie .cont_area .wrap_upload .upload_contain { margin-left: auto; margin-right: 55px; }

.wrap_pop.set_movie.main_set_movie .cont_area .wrap_upload .upload_contain label, .wrap_pop.main_set_movie.main_set_movie .cont_area .wrap_upload .upload_contain label { display: block; cursor: pointer; margin-bottom: 0; }

.wrap_pop.set_movie.main_set_movie .cont_area .wrap_upload .upload_contain input, .wrap_pop.main_set_movie.main_set_movie .cont_area .wrap_upload .upload_contain input { display: none; }

.wrap_pop.set_movie.main_set_movie .cont_area .wrap_upload .upload_contain label, .wrap_pop.main_set_movie.main_set_movie .cont_area .wrap_upload .upload_contain label { padding: 9px 15px; display: inline-block; border-radius: 4px; background: #e07272; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.4rem; line-height: 1; cursor: pointer; letter-spacing: 0; }

.wrap_pop.set_movie.main_set_movie .cont_area .note-close2, .wrap_pop.main_set_movie.main_set_movie .cont_area .note-close2 { display: none; }

.wrap_pop.set_movie.main_set_movie .note-editor, .wrap_pop.main_set_movie.main_set_movie .note-editor { width: 990px; margin: 0 auto; }

.wrap_pop.set_movie.main_set_movie .note-editing-area, .wrap_pop.main_set_movie.main_set_movie .note-editing-area { height: 556px; }

.wrap_pop.set_movie.main_set_movie .bottom_area, .wrap_pop.main_set_movie.main_set_movie .bottom_area { padding: 0 15px 15px 0; text-align: right; }

.wrap_pop.set_movie.main_set_movie .bottom_area .complete, .wrap_pop.main_set_movie.main_set_movie .bottom_area .complete { padding: 8px 40px; display: inline-block; border-radius: 4px; background: #29abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; letter-spacing: 0; }

.wrap_pop.set_movie .bottom_area .notice_txt, .wrap_pop.main_set_movie .bottom_area .notice_txt { padding: 0 0 13px 14px; font-size: 1.3rem; font-family: "본고딕"; color: #757575; letter-spacing: -0.8px; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk { display: flex; padding-left: 69px; margin-bottom: 22px; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .check_contain, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .check_contain { display: inline-block; position: relative; padding-left: 28px; cursor: pointer; user-select: none; width: auto; padding-left: 28px; border-radius: 50%; font-size: 1.3rem; font-family: "본고딕"; text-align: left; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .check_contain input, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .check_contain input { position: absolute; height: 0; width: 0; opacity: 0; cursor: pointer; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .check_contain .checkmark, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .check_contain .checkmark { position: absolute; top: 0; left: 0; height: 21px; width: 21px; border: 0; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .check_contain input ~ .checkmark, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .check_contain input ~ .checkmark { background: url(../images/check_custom1_off.svg) no-repeat center/22px; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .check_contain input:checked ~ .checkmark, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .check_contain input:checked ~ .checkmark { background: url(../images/check_custom1_on.svg) no-repeat center/18px; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .check_contain:nth-child(2), .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .check_contain:nth-child(2) { margin: 0 49px 0 46px; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .check_contain.chk_autoplay .tip_area, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .check_contain.chk_autoplay .tip_area { display: inline-block; position: relative; z-index: 2; margin-left: 6px; vertical-align: 1px; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .check_contain.chk_autoplay .tip_area .mark_tooltip, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .check_contain.chk_autoplay .tip_area .mark_tooltip { display: inline-block; position: relative; width: 21px; height: 21px; border-radius: 50%; font-size: 1.4rem; font-family: "본고딕"; text-align: center; line-height: 21px; vertical-align: top; background-color: #fff; border: 1px solid #ddd; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .check_contain.chk_autoplay .tip_area .mark_tooltip:hover, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .check_contain.chk_autoplay .tip_area .mark_tooltip:hover { cursor: pointer; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .check_contain.chk_autoplay .tip_area .mark_tooltip:hover ~ .tooltip_note, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .check_contain.chk_autoplay .tip_area .mark_tooltip:hover ~ .tooltip_note { display: block; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .check_contain.chk_autoplay .tip_area .tooltip_note, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .check_contain.chk_autoplay .tip_area .tooltip_note { display: none; position: absolute; left: 50%; margin-left: -165px; top: -137px; padding: 30px 27px 0; width: 330px; height: 137px; background: url("../images/bg_tooltip1.svg") no-repeat left top; background-size: 330px 137px; box-sizing: border-box; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .check_contain.chk_autoplay .tip_area .tooltip_note p, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .check_contain.chk_autoplay .tip_area .tooltip_note p { font-size: 1.4rem; font-family: "본고딕"; line-height: 1.4; letter-spacing: -0.8px; padding-bottom: 15px; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .check_contain.chk_autoplay .tip_area .tooltip_note p:last-child, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .check_contain.chk_autoplay .tip_area .tooltip_note p:last-child { padding-bottom: 0; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .check_contain.chk_lightbox .tip_area, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .check_contain.chk_lightbox .tip_area { display: inline-block; position: relative; z-index: 2; margin-left: 6px; vertical-align: 1px; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .check_contain.chk_lightbox .tip_area .mark_tooltip, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .check_contain.chk_lightbox .tip_area .mark_tooltip { display: inline-block; position: relative; width: 21px; height: 21px; border-radius: 50%; font-size: 1.4rem; font-family: "본고딕"; text-align: center; line-height: 21px; vertical-align: top; background-color: #fff; border: 1px solid #ddd; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .check_contain.chk_lightbox .tip_area .mark_tooltip:hover, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .check_contain.chk_lightbox .tip_area .mark_tooltip:hover { cursor: pointer; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .check_contain.chk_lightbox .tip_area .mark_tooltip:hover ~ .tooltip_note, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .check_contain.chk_lightbox .tip_area .mark_tooltip:hover ~ .tooltip_note { display: block; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .check_contain.chk_lightbox .tip_area .tooltip_note, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .check_contain.chk_lightbox .tip_area .tooltip_note { display: none; position: absolute; left: 50%; margin-left: -165px; top: -157px; padding: 30px 27px 0; width: 330px; height: 157px; background: url("../images/bg_tooltip1.svg") no-repeat left top; background-size: 330px 157px; box-sizing: border-box; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .check_contain.chk_lightbox .tip_area .tooltip_note p, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .check_contain.chk_lightbox .tip_area .tooltip_note p { font-size: 1.4rem; font-family: "본고딕"; line-height: 1.4; letter-spacing: -0.8px; padding-bottom: 15px; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .check_contain.chk_lightbox .tip_area .tooltip_note p:last-child, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .check_contain.chk_lightbox .tip_area .tooltip_note p:last-child { padding-bottom: 0; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .check_contain.chk_fitmov .tip_area, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .check_contain.chk_fitmov .tip_area { display: inline-block; position: relative; z-index: 2; margin-left: 6px; vertical-align: 1px; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .check_contain.chk_fitmov .tip_area .mark_tooltip, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .check_contain.chk_fitmov .tip_area .mark_tooltip { display: inline-block; position: relative; width: 21px; height: 21px; border-radius: 50%; font-size: 1.4rem; font-family: "본고딕"; text-align: center; line-height: 21px; vertical-align: top; background-color: #fff; border: 1px solid #ddd; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .check_contain.chk_fitmov .tip_area .mark_tooltip:hover, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .check_contain.chk_fitmov .tip_area .mark_tooltip:hover { cursor: pointer; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .check_contain.chk_fitmov .tip_area .mark_tooltip:hover ~ .tooltip_note, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .check_contain.chk_fitmov .tip_area .mark_tooltip:hover ~ .tooltip_note { display: block; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .check_contain.chk_fitmov .tip_area .tooltip_note, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .check_contain.chk_fitmov .tip_area .tooltip_note { display: none; position: absolute; left: 50%; margin-left: -165px; top: -127px; padding: 30px 27px 0; width: 330px; height: 127px; background: url("../images/bg_tooltip1.svg") no-repeat left top; background-size: 330px 127px; box-sizing: border-box; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .check_contain.chk_fitmov .tip_area .tooltip_note p, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .check_contain.chk_fitmov .tip_area .tooltip_note p { font-size: 1.4rem; font-family: "본고딕"; line-height: 1.4; letter-spacing: -0.8px; padding-bottom: 15px; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .check_contain.chk_fitmov .tip_area .tooltip_note p:last-child, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .check_contain.chk_fitmov .tip_area .tooltip_note p:last-child { padding-bottom: 0; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .tip_area, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .tip_area { margin-left: 2px; vertical-align: 1px; }

.wrap_pop.set_movie .bottom_area .wrap_opt_chk .tip_area .tooltip_note, .wrap_pop.main_set_movie .bottom_area .wrap_opt_chk .tip_area .tooltip_note { padding-top: 22px; }

.wrap_pop.set_movie .bottom_area .btn_box, .wrap_pop.main_set_movie .bottom_area .btn_box { padding: 0 15px 13px 0; text-align: right; }

.wrap_pop.set_movie .bottom_area .btn_box .complete, .wrap_pop.main_set_movie .bottom_area .btn_box .complete { padding: 8px 40px; display: inline-block; border-radius: 4px; background: #29abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; }

.wrap_alert { margin-top: 10px; padding: 24px 30px 15px 29px; border: 1px solid #ddd; box-sizing: border-box; }

.wrap_alert.sty1 { width: 310px; }

.wrap_alert .alert_txt { font-size: 1.4rem; line-height: 1.43; letter-spacing: -0.8px; }

.wrap_alert .btn_box { margin-top: 44px; font-size: 0; }

.wrap_alert .btn_box .btn_cancle { display: inline-block; border-radius: 4px; background: #757575; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; width: 110px; height: 32px; line-height: 32px; }

.wrap_alert .btn_box .btn_del { display: inline-block; border-radius: 4px; background: #e07272; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; margin-left: 29px; width: 110px; height: 32px; line-height: 32px; }

#lightbox { position: absolute; left: 50%; z-index: 1001; display: none; transform: translateX(-50%); }

#lightbox img { width: auto; height: auto; max-height: 80vh; }

#lightbox-shadow { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; filter: alpha(opacity=75); -moz-opacity: 0.75; -khtml-opacity: 0.75; opacity: 0.75; z-index: 1000; display: none; }

#lightbox-shadow .btn_close { display: block; position: absolute; right: 60px; top: 60px; width: 30px; height: 30px; background: url("../images/btn_close2.svg") no-repeat left top; background-size: 30px 30px; cursor: pointer; }

input[type="checkbox"], input[type="radio"] { visibility: visible; }

.note-close button, .note-close2 button { margin: 1px 0 0 5px !important; cursor: pointer; text-indent: -9999px; outline: none; border: none; width: 21px; height: 21px; background: url("../images/btn_close.svg") no-repeat left top; background-size: 21px 21px; }

.cr-boundary img { width: auto; }

#cke_editor1 { margin-top: -800px; }

.note-air-popover.popover { display: block !important; left: -20px !important; top: -62px !important; min-width: 570px; width: 700px !important; }

.wrap_txt_area .note-editor { padding: 15px; background: rgba(41, 171, 226, 0.1); outline: 1px dotted #ddd; outline-offset: -1px; }

.wrap_txt_area .note-editor .note-editable { font-size: 1.6rem; padding: 15px; background: transparent !important; }

.wrap_txt_area .note-editor .note-toolbar { padding-bottom: 5px; }

.note-editor.note-frame .note-editing-area .note-editable { color: #000001; }

.popover .arrow { display: none; }

.minicolors-theme-default .minicolors-swatch { top: 2px; left: auto; right: 0; width: 15px; height: 15px; border-radius: 20px; }

.minicolors-theme-default .minicolors-swatch .minicolors-swatch-color { border-radius: 20px; }

.btn_only_setting.sty3 .cont_area { padding-top: 0; }

.btn_only_setting.sty3 .body_comm, .btn_only_setting.sty3 .sub_tit { display: none; }

.pac-container { position: fixed !important; top: 50% !important; left: 50% !important; transform: translate(-50%, -50%); margin-top: 260px; margin-left: -40px; min-height: 182px; }
/*# sourceMappingURL=layer_setting_popup.css.map */