
@charset "utf-8";
@import "_common";

//editor 와 user_admin 에서 사용하므로 css 파일 분리합니다

.guide_api {//구글지도 api 설정 팝업
  position: relative;
	width:690px;
	border       : 1px solid #ddd;
	border-radius: 4px;
	background   : #f7f7f7;

	.head_area {
		position     : relative;
		width        : 100%;
		height       : 50px;
		color        : #29abe2;
		font-size    : $pop_head_txt;
		font-weight: 500;
		text-align   : center;
		line-height  : 50px;
		border-bottom: 1px solid #ddd;

		.btn_close {
			position: absolute;
			top     : 15px;
			right   : 15px;
			@include bg(21px, 21px, '../images/btn_close.svg');
			-webkit-background-size: 20px;
			background-size        : 20px;
			cursor                 : pointer;
		}
	}

	.cont_area {
		max-height:75vh;
		overflow-y:auto
	}

	.notice_cont {
		padding: 30px;
		background: #ddd;
	}

	.guide_tit {
		position: relative;
		padding-left: 11px;
		margin-bottom: 11px;
		font-size: 1.6rem;
		font-weight: 400;

		&:before {
			content:'';
			display: block;
			width: 6px;
			height: 6px;
			position: absolute;
			left:0;
			top:50%;
			transform:translateY(-50%);
			border-radius: 50%;
			background: #e07272;
		}
	}

	.guide_note_tit {
		padding-bottom: 35px;
		padding-left: 11px;
		font-size: 1.4rem;
		line-height: 1.7;
		font-weight: 350;
		color:#4e4e4e;
	}

	.guide_note_txt {
		font-size: 1.4rem;
		font-weight: 350;
		color:#4e4e4e;

		li {padding-bottom: 5px; padding-left: 20px;
			text-indent: -10px;
			line-height: 1.3;

			&.sty2 {
				padding-bottom: 30px;
			}
		}

		.dots_wrap {
			position: relative;
			padding-left: 198px;
			margin: 10px 0;

			&:before {
				content:'';
				display: block;
				width:4px;
				height:4px;
				position: relative;
				margin-bottom: 3px;
				border-radius: 50%;
				background: #ddd;

			}
			
			.dot {
				display: block;
				width:4px;
				height:4px;
				margin-bottom: 3px;
				border-radius: 50%;
				background: #ddd;
			}

			&:after {
				content:'';
				display: block;
				width:4px;
				height:4px;
				margin-bottom: 3px;
				border-radius: 50%;
				background: #ddd;
			}
		}
		
		.star_note {
			padding: 0 10px;
			color:$pink;
		}

		.gg_link {
			padding-left: 2px;
			vertical-align: top;
			color:$blue;

			&:hover {text-decoration: underline; cursor: pointer;}
		}

		img {
			display: block;
			width:100%;
			max-width:400px;
			margin: 8px 0 25px;
			
			&.size2 {max-width:278px}
			&.sty2 {margin-bottom: 20px;}
			&.sty3 {margin-bottom: 0;}
		}

	}	

	.guide_cont {
		padding: 30px 36px 0;
	}

	.bottom_area {
		overflow:hidden;
		padding: 15px 30px 30px;
	}
	.btn_close {
		@include btn($blue, $fontsize:1.4rem);
		display: block;
		float: right;
		width:110px;
		height: 32px;
		line-height: 32px;		
	}
	
}