@charset "utf-8";
@import "_common";



.logo_playkok {
	display: inline-block;
	@include bg(89px,22px, '../images/playkok_logo.png');
}

.icon_cross {
	display: inline-block;
	margin : 0 10px;
	@include bg(18px, 18px, '../images/icon_cross.svg');
}

.logo_playblock {
	display: inline-block;
	@include bg(101px, 22px, '../images/playblock_logo1.png');
}

/* ---------------------------------------------
	로그인, 회원가입 팝업
----------------------------------------------- */

.wrap_logjn_pop {
	margin-top   : 10px;
	padding      : 15px 15px 0;
	border-radius: 4px;
	background   : #f7f7f7;


	.inp_box {
		display          : flex;
		position         : relative;
		//	padding-bottom: 1px;
		border-bottom    : 1px solid #ddd;
		box-sizing       : border-box;

		input {
			height     : 100%;
			padding    : 6px 1px;
			box-sizing : border-box;
			line-height: 1;
		}

		.btn_getauth {
			position: absolute;
			right   : 0;
			top     : 0;
			@include btn(#4e4e4e);
		}
	}

	.head_area {

		//로그인 팝 공통 헤드
		.btn_box {
			text-align: right;

			.btn_close {
				display: inline-block;
				@include bg(21px, 21px, '../images/btn_close.svg');
				background-size: 20px;
				cursor         : pointer;
			}
		}

		.logo_area {
			padding-bottom: 20px;
			line-height   : 1;
			text-align    : center;

			.logo_playkok {
				display: inline-block;
				@include bg(89px,22px, '../images/playkok_logo.png');
			}

			.icon_cross {
				display: inline-block;
				margin : 0 10px;
				@include bg(18px, 18px, '../images/icon_cross.svg');
			}

			.logo_playblock {
				display: inline-block;
				@include bg(101px, 22px, '../images/playblock_logo1.png');
			}			
		}

		.pop_tit {
			padding-bottom: 20px;
			font-size     : $tit_txt;
			text-align    : center;
			color         : #4e4e4e
		}
	}

	.cont_area {
		.wrap_mailpw {
			.inp_box {
				height          : 60px;
				border          : 1px solid #ddd;
				line-height     : 60px;
				box-sizing      : border-box;
				background-color: #fff;

				&:first-child {
					margin-bottom: 15px;
				}

				input {
					width      : 100%;
					height     : 100%;
					padding    : 0 40px;
					box-sizing : border-box;
					font-weight: 350;
					font-size  : $component_sub_txt;
					color      : #242424;
				}
			}
		}
	}

	&.login {
		//로그인1
		width: 480px;

		.bottom_area {
			padding-top: 20px;

			.wrap_atlogin .check_contain {

				@include check_custom1(21px, 21px, 0);
				padding-left: 28px;
				margin-left : 0;
				height      : 21px;
				line-height : 21px;
				font-size   : $pop_cont_txt;
				font-weight : 350;

				input~.checkmark {
					background: url(../images/check_custom1_off.svg) no-repeat top center/22px;
				}

				input:checked~.checkmark {
					background: url(../images/check_custom1_on.svg) no-repeat top center/18px
				}

			}

			.btn_login_box {
				margin-top   : 20px;
				margin-bottom: 19px;

				span {
					@include btn($blue, $btn_txt);
					width      : 100%;
					height     : 60px;
					line-height: 60px;
					font-weight: 500;
				}
			}

			.btn_oth_act {
				display       : flex;
				padding-bottom: 23px;
				font-size     : 1.5rem;
				line-height   : 1;

				[class^='btn_'] {
					font-weight: 350;
					cursor     : pointer;
				}

				.btn_find_id {
					margin-left : auto;
					margin-right: 29px;
				}
			}
		}
	}

	&.login2 {
		//로그인2
		width: 480px;

		.cont_area {
			.wrap_btn {
				.pk_mb_yes {
					width                        : 100%;
					height                       : 60px;
					margin-bottom                : 14px;
					@include btn($blue, $fontsize: 2rem);
					line-height                  : 60px;
				}

				.pk_mb_no {
					width                        : 100%;
					height                       : 60px;
					margin-bottom                : 18px;
					@include btn($pink, $fontsize: 2rem);
					line-height                  : 60px;
				}
			}
		}
	}

	&.pk_mb_join {
		//플레이콕 회원가입
		width: 480px;

		.wrap_mailpw {
			.inp_box input {
				padding: 0 15px;
			}

			p {
				padding  : 13px 3px 12px;
				font-size: 1.5rem;
				color    : #757575
			}
		}

		.wrap_terms {
			margin-bottom   : 15px;
			padding         : 0 15px;
			border          : 1px solid #ddd;
			border-radius   : 4px;
			font-family     : $font_r;
			font-size       : 1.5rem;
			color           : #242424;
			background-color: #fff;

			.check_contain {
				position: relative;
				@include check_custom2(21px, 21px, 0);
				display       : block;
				padding-top   : 19px;
				padding-bottom: 16px;

				input~.checkmark {
					background: url(../images/check_custom1_off.svg) no-repeat center/25px;
				}

				input:checked~.checkmark {
					background: url(../images/check_custom1_on.svg) no-repeat center/20px
				}

				.checkmark {
					top   : 15px;
					width : 26px;
					height: 26px;
				}
			}

			.all_check {
				border-bottom: 1px solid #ddd;
			}

			.term_box {
				position     : relative;
				border-bottom: 1px solid #ddd;

				.label_txt {
					display       : block;
					padding-left  : 10px;
					font-size     : 1.5rem;
					font-family   : $font_r;
					line-height   : 1;
					letter-spacing: -0.9px;
					color         : #242424;

					&:before {
						display      : block;
						position     : absolute;
						left         : 0;
						top          : 23px;
						width        : 6px;
						height       : 6px;
						border-radius: 50%;
						content      : '';
						background   : #ff0000;
					}
				}

				.checkmark {
					position  : absolute;
					right     : 0;
					top       : 14px;
					width     : 26px;
					height    : 26px;
					background: url(../images/check_custom1_off.svg) no-repeat center/25px;
					cursor    : pointer;

					&.on {
						background: url(../images/check_custom1_on.svg) no-repeat center/20px;
					}
				}

				.btn_view_term {
					position                    : absolute;
					left                        : 177px;
					top                         : 14px;
					padding                     : 5px 13px;
					@include btn(#ddd, $fontsize: $pop_sub_txt);
					color                       : #242424;
					z-index                     : 1;

					&:hover {
						text-decoration: underline;
					}
				}

				&:last-of-type {
					border-bottom: 0;
				}
			}
		}

		.bottom_area {
			padding-bottom: 16px;

			.complete {
				@include btn(#ddd, $fontsize: $btn_txt);
				padding                     : 22px 0 19px;
				width                       : 100%;

				&.on {
					background: $blue;
				}
			}
		}

		&.sty2 {

			//플레이콕 SNS 비회원 가입 완료
			.wrap_mailpw {
				margin-bottom: 40px;

				.inp_box {
					margin-bottom: 15px;
				}
			}

			.bottom_area {
				margin-top: 15px;

				span {
					@include btn($blue, $fontsize: $btn_txt);
				}
			}
		}
	}

	&.pk_join {
		//플레이콕 sns 회원가입1, 회원가입2
		width     : 480px;
		box-sizing: border-box;

		.pop_tit {
			padding-bottom: 38px;
		}

		.wrap_join_step {
			display        : flex;
			justify-content: center;
			margin-bottom  : 23px;

			.step_box {
				position: relative;

				&:first-child {
					dd {
						color: $blue;
					}

					&:after {
						display   : block;
						width     : 118px;
						height    : 2px;
						position  : absolute;
						top       : 25px;
						left      : 55px;
						background: #828282;
						content   : '';
					}
				}

				&:last-child {
					margin-left: 106px;

					dt {
						border: 2px solid #828282;

						em {
							background: #828282;
						}
					}

					dd {
						color: #828282
					}
				}

				dt {
					width           : 50px;
					height          : 50px;
					margin-left     : 5px;
					padding         : 3px;
					border          : 2px solid $blue;
					border-radius   : 50%;
					background-color: #f7f7f7;
					box-sizing      : border-box;

					em {
						display      : block;
						width        : 40px;
						height       : 40px;
						border-radius: 50%;
						font-family  : $font_m;
						font-size    : $component_sub_txt;
						line-height  : 40px;
						color        : #fff;
						text-align   : center;
						background   : $blue;
					}
				}

				dd {
					padding-top   : 6px;
					font-family   : $font_r;
					font-size     : 1.5rem;
					text-align    : center;
					line-height   : 1;
					letter-spacing: -0.7px;
				}

				&.on {
					dt {
						border: 2px solid $watermelon;

						em {
							background: $watermelon;
						}
					}

					dd {
						color: $watermelon;
					}
				}
			}
		}

		.cont_area {
			.link_area {
				margin-bottom: 15px;

				.aldy_pkmb {
					font-size      : 1.5rem;
					text-decoration: underline;
					line-height    : 1;
					color          : $blue;
					cursor         : pointer;
				}
			}

			.join_inp_box {
				padding         : 16px 0 13px;
				border          : 1px solid #ddd;
				border-radius   : 4px;
				background-color: #fff;

				b {
					font-weight: 500;
					font-size  : $component_sub_txt;
					color      : #4e4e4e;
				}

				.btn_api_phnath,
				.btn_dup_chk {
					@include btn(#4e4e4e);
					width      : 100px;
					height     : 30px;
					line-height: 30px;
				}

				.api_submit {
					margin-right: 10px;
				}

				.wrap_phn_auth {
					display      : flex;
					align-items  : center;
					padding      : 7px 19px 7px 9px;
					margin-bottom: 40px;

					b {
						margin-right: 10px;
					}

					.complete_api {
						font-size  : $pop_sub_txt;
						font-weight: 350;
						color      : $blue
					}
				}

				.wrap_make_ac {
					display    : flex;
					align-items: center;
					position   : relative;

					b {
						padding-left  : 9px;
						padding-bottom: 6px;
						margin-right  : 15px;
					}

					.inp_box {
						position      : relative;
						width         : 319px;
						margin-bottom : 9px;
						padding-bottom: 1px;
						border-bottom : 1px solid #ddd;

						input {
							width      : 210px;
							padding    : 7px 0;
							font-family: $font_r;
							font-size  : 1.5rem;
							color      : #242424;
						}

						.btn_dup_chk {
							position: absolute;
							right   : 0;
							bottom  : 1px;
						}
					}
				}

				.wrap_dup_info {
					padding-left: 116px;
					font-weight : 350;
					font-size   : $pop_sub_txt;

					.true {
						color: $blue
					}

					.false {
						color: $watermelon;
					}
				}

				//회원가입2 - 정보입력
				.join_tbl {

					tr:last-child td {
						padding-bottom: 0;
					}

					th {
						padding-right : 15px;
						padding-top   : 9px;
						text-align    : right;
						vertical-align: top;

						label {
							position    : relative;
							padding-left: 11px;
							font-family : $font_r;
							font-size   : $cont_txt;
							line-height : normal;
							color       : #4e4e4e;

							&:before {
								display      : inline-block;
								width        : 6px;
								height       : 7px;
								position     : absolute;
								left         : 0;
								top          : 12px;
								border-radius: 50%;
								background   : #ff0000;
								content      : '';
							}
						}
					}

					td {
						vertical-align: top;
						padding-bottom: 24px;

						.inp_box {
							position      : relative;
							width         : 307px;
							height        : 31px;
							padding-bottom: 1px;
							border-bottom : 1px solid #ddd;
							box-sizing    : border-box;

							input {
								width    : 205px;
								padding  : 3px 0;
								font-size: $cont_txt;
							}

							.btn_dup_chk {
								position: absolute;
								right   : 0;
								top     : 0;
								@include btn(#4e4e4e);
								width      : 100px;
								height     : 30px;
								line-height: 30px;
							}
						}

						.inf_rule {
							padding-top: 9px;
							font-size  : $pop_sub_txt;
							font-weight: 350;
							color      : #757575;
						}
					}
				}
			}

			.recom_box {
				margin-top   : 14px;
				padding      : 15px 0;
				border       : 1px solid #ddd;
				border-radius: 4px;
				background   : #fff;

				.notice_rule {
					padding-left: 13px;

					li {
						padding-bottom: 11px;
						font-size     : $pop_sub_txt;
						letter-spacing: -0.9px;
						font-weight   : 350;
						color         : #757575;

						&.impt_note {
							padding-bottom: 27px;
							color         : $watermelon;
						}
					}
				}

				.recom_inp_area {
					display    : flex;
					align-items: center;
					padding    : 0 15px 15px 19px;

					label {
						padding-right: 15px;
						font-family  : $font_r;
						font-size    : $cont_txt;
						color        : #4e4e4e
					}

					.inp_box {
						position      : relative;
						width         : 307px;
						padding-bottom: 1px;
						border-bottom : 1px solid #ddd;

						input {
							width    : 205px;
							padding  : 3px 0;
							font-size: $cont_txt;
						}

						.btn_user_chk {
							position: absolute;
							right   : 0;
							bottom  : 1px;
							@include btn(#4e4e4e);
							width      : 100px;
							height     : 30px;
							line-height: 30px;
						}
					}
				}
			}
		}

		.bottom_area .btn_next {
			display                     : block;
			margin-top                  : 15px;
			margin-bottom               : 16px;
			padding                     : 22px 0 19px;
			@include btn(#ddd, $fontsize: $btn_txt);
			width                       : 100%;
			cursor: default;

			&.pk_join2 {
				margin-bottom: 36px;
			}

			&.on {
				background: $blue;
				cursor: pointer;
			}
		}
	}

}


/* ---------------------------------------------
	로그인 상태 정보 팝업
----------------------------------------------- */
.wrap_login_tool {
	//로그인 상태 정보
	position     : relative;
	width        : 280px;
	border       : 1px solid #fff;
	border-radius: 5px;
	box-shadow   : 0 0 3.7px 0.3px rgba(0, 0, 0, 0.21);
	background   : #fff;

	&:before {
		display: block;
		content: '';
		@include bg(10px, 9px, '../images/bg_cmtdel1.png');
		position : absolute;
		top      : -10px;
		left     : 50%;
		transform: translateX(-50%);
	}

	.user_info_box {
		margin-top: 20px;

		.login_user_prfl_img {
			display      : block;
			width        : 46px;
			height       : 46px;
			margin       : 0 auto;
			border-radius: 50%;
		}

		.account_email {
			display    : block;
			padding-top: 21px;
			margin     : 0 auto;
			font-size  : $pop_head_txt;
			color      : #242424;
			text-align : center;
		}
	}

	.bottom_area {
		display        : flex;
		justify-content: center;
		align-items    : center;
		margin-top     : 25px;
		margin-bottom  : 15px;

		.name_txt {
			@include btn(#4d4d4d);
			padding     : 7px 28px;
			margin-right: 30px;
		}

		.btn_logout {
			@include btn($pink);
			padding: 7px 18px;
		}


	}

}

/* ---------------------------------------------
	계정, 비번 찾기 팝업
----------------------------------------------- */
.wrap_findac_pop {
	width        : 480px;
	margin-top   : 10px;
	padding      : 15px 15px 0;
	border       : 1px solid #ddd;
	border-radius: 4px;
	background   : #f7f7f7;
	box-sizing   : border-box;
	line-height  : 1;

	// ET2 공통 ~
	.head_area {

		//로그인 팝 공통 헤드
		.btn_box {
			text-align: right;

			.btn_close {
				display: inline-block;
				@include bg(21px, 21px, '../images/btn_close.svg');
				background-size: 20px;
				cursor         : pointer;
			}
		}

		.logo_area {
			padding-bottom: 19px;
			line-height   : 1;
			text-align    : center;

			.site_logo {
				font-family: $font_b;
				font-size  : 2rem;
				color      : #242424;
			}
		}

		.pop_tit {
			padding-bottom: 20px;
			font-family   : $font_r;
			font-size     : $tit_txt;
			text-align    : center;
			color         : #4e4e4e
		}
	}

	.cont_area {
		border       : 1px solid #ddd;
		border-radius: 4px;
		background   : #fff;

		.getauth_area {
			.inp_box {
				display      : flex;
				align-items  : center;
				border-bottom: 1px solid #ddd;

				.auth_num {
					display    : inline-block;
					width      : 189px;
					height     : 32px;
					padding    : 7px 4px;
					box-sizing : border-box;
					font-size  : $pop_head_txt;
					font-weight: 350;
				}

				.cnt_down_txt {
					margin-left : auto;
					margin-right: 9px;
					font-size   : $pop_head_txt;
					color       : #ff0000;
				}

				.btn_auth {
					@include btn($blue);
					width      : 100px;
					height     : 30px;
					line-height: 30px;

				}
			}
		}

		.auth_comp_area {
			//계정찾기1-2, 비밀번호 찾기 2-3

			.icon_check {
				display: block;
				@include bg(48px, 48px, '../images/icon_check1.svg');
				background-position: top center;
			}

			p {
				padding-top   : 18px;
				font-size     : $pop_head_txt;
				text-align    : center;
				letter-spacing: -0.9px;
			}
		}
	}

	.bottom_area {
		margin-top: 15px;

		.btn_login {
			@include btn(#ddd);
			width      : 100%;
			height     : 60px;
			line-height: 60px;
			font-size  : $btn_txt;
			cursor     : default;


			&.on {
				background: $blue;
				cursor    : pointer;
			}
		}

		.link_area {
			margin-top: 25px;

			.btn_join_bck,
			.btn_findpw_bck {
				font-size      : $cont_txt;
				font-weight    : 500;
				text-decoration: underline;
				letter-spacing : -0.8px;
				color          : $blue;
				cursor         : pointer;
			}
		}
	}

	// ~ ET2 공통

	&.findid {
		//계정 찾기

		.cont_area {
			padding-right: 15px;
			padding-left : 12px;

			.find_tbl {
				//계정찾기1
				margin-bottom: 14px;

				tr:first-child {
					th {
						padding-top: 34px;
					}

					td {
						padding-top: 28px;

						.inp_box {
							height: 28px;
						}
					}
				}

				tr:last-child {
					th {
						padding-top: 47px;
					}

					td {
						padding-top: 38px;
					}
				}

				th {
					padding-right : 13px;
					text-align    : right;
					vertical-align: top;

					label {
						position    : relative;
						padding-left: 9px;
						font-family : $font_r;
						font-size   : $cont_txt;
						line-height : 1;
						color       : #4e4e4e;

						&:before {
							display      : inline-block;
							width        : 6px;
							height       : 6px;
							position     : absolute;
							left         : 0;
							top          : 7px;
							border-radius: 50%;
							background   : #ff0000;
							content      : '';
						}
					}
				}

				td {
					vertical-align: top;

					&.phn_auth_box {
						.inp_box {
							height: 34px;

							input {
								width: 180px;
							}
						}

						.getauth_area {
							padding-top: 48px;
						}
					}

					.inp_box {
						position      : relative;
						width         : 347px;
						padding-bottom: 1px;
						border-bottom : 1px solid #ddd;
						box-sizing    : border-box;

						input {
							width      : 100%;
							height     : 100%;
							padding    : 6px 1px;
							box-sizing : border-box;
							font-family: $font_r;
							font-size  : $cont_txt;
							line-height: 1;
						}

						.btn_getauth {
							position: absolute;
							right   : 0;
							top     : 0;
							@include btn(#4e4e4e);
							width      : 100px;
							height     : 30px;
							line-height: 30px;
						}
					}
				}
			}

			.auth_comp_area {
				//계정찾기1-2
				padding-bottom: 60px;

				.icon_check {
					margin: 27px auto 0;
				}
			}

			.rst_tbl {
				margin-bottom: 40px;
				color        : #424242;
				font-size    : $pop_head_txt;

				&:last-child {
					margin-bottom: 15px;
				}

				th {
					padding-right : 15px;
					padding-bottom: 15px;
					letter-spacing: -0.9px;
					text-align    : right;
				}

				td {
					padding-bottom: 15px;
				}

				.rst_find {
					.inp_box {
						width        : 357px;
						padding      : 4px 3px;
						box-sizing   : border-box;
						border-bottom: 1px solid #ddd;
					}
				}
			}

			.auth_fail_area {

				//계정찾기 1-2-1
				.icon_ex {
					display: block;
					margin : 27px auto 0;
					@include bg(48px, 48px, '../images/icon_x1.svg');
					background-position: top center;
				}

				p {
					padding-top   : 18px;
					padding-bottom: 46px;
					font-size     : $pop_head_txt;
					letter-spacing: -0.9px;
					text-align    : center;
				}
			}
		}

		.bottom_area {
			.link_area {
				display       : flex;
				flex-direction: column;
				margin-bottom : 23px;
				text-align    : center;

				.btn_join_bck {
					margin-bottom: 20px;
				}
			}

			.btn_reauth {
				margin-bottom: 15px;
				@include btn($watermelon, $btn_txt);
			}
		}
	}

	&.findpw {
		//비밀번호찾기2

		.cont_area {
			padding: 25px 15px 0;

			.account_inp_area {
				position : relative;
				font-size: $pop_head_txt;

				.inp_box {
					margin-bottom: 36px;
					border-bottom: 1px solid #ddd;
				}

				input {
					width  : 320px;
					padding: 9px 0 6px;
				}

				.btn_start_find {
					position: absolute;
					right   : 0;
					bottom  : 1px;
					@include btn(#4e4e4e);
					width      : 100px;
					height     : 30px;
					line-height: 30px;

					&.off {
						display: none;
					}
				}
			}

			.auth_select_area {
				display: none;

				.wrap_phn_auth {
					padding-top: 20px;
				}

				.wrap_mail_auth {
					padding-top  : 30px;
					margin-bottom: 16px;

				}

				.getauth_area {
					margin-bottom: 15px;
				}

				.wrap_phn_auth,
				.wrap_mail_auth {

					.getauth_area {
						padding-left: 78px;
						padding-top : 20px;

						.cnt_down_txt {
							color    : #ff0000;
							font-size: $pop_head_txt;
						}
					}


					.phn_auth,
					.mail_auth {
						display    : flex;
						align-items: center;

						.radio_contain {
							@include check_custom1(13px, 13px, 1px solid #757575, 26px);
							font-size     : $pop_head_txt;
							letter-spacing: -0.9px;
							color         : #242424;

							.checkmark {
								top          : 2px;
								border-radius: 50%;
								box-sizing   : border-box;
							}

							input:checked~.checkmark {
								border-color: #ff0000;

								&:after {
									display      : block;
									width        : 7px;
									height       : 7px;
									position     : absolute;
									left         : 2px;
									top          : 2px;
									background   : #ff0000;
									border-radius: 50%;
									content      : '';
								}
							}

							.space {
								padding: 2px 5px;
							}
						}

						.get_num {

							margin-left: auto;
							@include btn(#ddd);
							width      : 100px;
							height     : 30px;
							line-height: 30px;
						}
					}

					&.active {
						.get_num {
							background-color: #4e4e4e;
						}
					}
				}
			}

			.rst_id_box {
				//비밀번호 찾기 2-3

				padding      : 4px 1px;
				border-bottom: 1px solid #ddd;
				font-family  : $font_r;
				font-size    : $pop_head_txt;
				color        : #242424
			}

			.auth_comp_area {
				//비밀번호 찾기 2-3
				padding-bottom: 26px;

				.icon_check {
					margin: 20px auto 0;
				}
			}
		}

		.bottom_area {
			padding-bottom: 15px;

			.link_area {
				margin-bottom: 8px;
				text-align   : center;
			}
		}
	}

	&.reset_pw {

		//비밀번호 재설정
		.cont_area {
			padding: 0 15px 15px 7px;


			.resetpw_tbl {
				font-size : $cont_txt;
				box-sizing: border-box;

				th {
					padding-right : 14px;
					text-align    : right;
					letter-spacing: -1px;
				}

				.inp_box {
					width        : 295px;
					height       : 32px;
					border-bottom: 1px solid #ddd;

					input {
						width      : 100%;
						line-height: 32px;
					}
				}

				tr:first-child {
					th {
						padding-top: 28px;
					}

					td {
						padding-top: 23px;
					}
				}

				tr:last-child {
					th {
						padding-top: 41px;
					}

					td {
						padding-top: 36px;
					}
				}
			}
		}

		.bottom_area {
			padding-bottom: 15px;

			.btn_pwchg {
				@include btn($blue, $btn_txt);
				width      : 100%;
				height     : 60px;
				line-height: 60px;
			}
		}

	}
}